[2014-05-04 09:51] swalter62 opened #484 "CrossRef: xhtml @incollection references drop 1st editor"
For @incollection references under natbib that have 1 + n editors, the first editor is dropped for some reason. Here's a sample bib and latex file:

[code]

[code]

Running latexmlpost generates a warning:

[code]

So CrossRef is unhappy, but I don't see what it is missing here. Any ideas?

[2014-05-04 20:17] #481 closed, assigned to brucemiller

[2014-05-05 18:24] #484 closed, assigned to brucemiller

[2014-05-06 06:48] #482 closed, assigned to brucemiller

[2014-05-08 19:22] #409 closed, assigned to brucemiller

[2014-05-08 19:26] #475 closed, assigned to brucemiller

[2014-05-08 19:42] #405 closed, assigned to dginev

[2014-05-08 19:53] #338 closed, assigned to dginev

[2014-05-10 18:05] fred-wang opened #486 "Windows stability"
Some issues found after testing on Windows:
- In some setup, I get "missing perl516.dll" and I need to install ActivePerl to fix that
- When I try to generate an EPUB file, I get an error about "LaTeXML-epub3.xsl" not found.
- When I try to parse a TikZ file, I get error about missing image library. I was not able to install Graphics::Magick or Image::Magick.

cf http://lists.jacobs-university.de/

[2014-05-11 22:01] fred-wang opened #487 "Undefined macros \extrasenglish, \dateenglish, \captionsenglish with babel"
I was trying to implement LaTeXML export in LyX and found this error with the .tex generated by LyX. A minimal testcase:

[code]

LaTeXML output:

[code]

[2014-05-13 13:41] dginev opened #488 "Timeouts and cleanup for system calls"
When converting the entirety of arXiv.org (now just under a million articles), there are a number of exotic problems with LaTeXML. The most pressing ones are a related pair:
- Some documents cause infinite loops in the system calls to external programs, such as latex or dvipng. There was a 2-letter command that was most commonly looping into infinity, but I can't remember its name now, which is an

[2014-05-15 18:58] HowardCohl opened #489 "force abandon automatic line breaking for mathematics with multiple equalities or inequalities on a single line"
In a mathematical equation with multiple equalities or inequalities on a single line, it would be nice to have the feature in LaTeXML to force abandon of automatic line breaking so that objects such as $a<x<b$ or $a=x=b$ would not split into several lines.

[2014-05-16 13:00] petrelharp opened #490 "latexmlc doesn't take --preamble or --postamble"
Well, it's help says it does, but it produces output (and errors) as if they are not there, or empty.  `latexml` does the right thing on the same input.

For instance, if `preamble.tex` is:

[code]

and `test.tex` is

[code]

then `latexml --preamble=header.tex test.tex` produces the correct output, while `latexmlc --preamble=header.tex test.tex` does not, going downhill after `Error:undefined:\[`

[2014-05-18 15:26] #483 closed, assigned to brucemiller

[2014-05-19 13:45] giovanni111 opened #491 "{tabularx}: order of arguments"
I suggest the following changes for tabularx.sty.ltxml:

[code]

[2014-05-19 14:17] brucemiller opened #492 "handle \index{term|(} and \index{term|)} properly"
Pairs if index commands of the form
[code]
mark a region of the document as relating to "term", rather than a single point in the document.  In print, these (potentially) produce a page  range, rather than a single page.  Currently, the special character of these commands is ignored and we produce 2 index entries. We need to do some "document arithmetic" to figure out the most reasonable represent

[2014-05-20 01:43] #491 closed, assigned to brucemiller

[2014-05-21 15:26] fred-wang opened #494 "Add partial support for the fontspec package"
Now that Firefox 31 has better math font selection, it would be nice to consider again the fontspec package. See http://www.ctan.org/tex-archive/macros/xetex/latex/fontspec/

There are many features, but at least it we could have the font-family related features. That would essentially be generating the right CSS selectors like

[code]

etc.

There is the separate (but related) issue of providing

[2014-05-22 21:50] #488 closed, assigned to brucemiller

[2014-05-25 14:12] kohlhase opened #495 "wrong content MathML generated for intervals"
I always thought that

[code]

was legal content MathML. It seesm that Bruce was also under this impression, since this is what LaTeXML gives us. But apparently my impression was wrong. The MathML3 RelaxNG schema tells us

[code]

In particular, the `<interval>` element can only be used as a container in "pragmatic MathML". And the nearest equivalent to the above is

[code]

So we have to do somet

[2014-06-02 14:34] #495 closed, assigned to brucemiller

[2014-06-05 15:08] swalter62 opened #496 "split environment does not split lines"
LaTeXML processes the split environment w/o complaint, but ignores line breaks. Here's a test case I call splitme.tex:

[code]

The command
`latexml splitme.tex | latexmlpost --pmml --dest=splitme.xhtml`
runs without complaint, but delivers the equation on a single, very long line.

[2014-06-26 19:14] fred-wang opened #497 "tikz picture not centered by center environment"
Testcase:

[code]

With LaTeX the tikzpicture is centered, but not with LaTeXML.

[2014-06-26 19:20] fred-wang opened #498 "tikz/pgfplots not supported"
A basic testcase to draw a plot:

[code]

LaTeXML fails with

[code]

[2014-06-26 21:27] fred-wang opened #499 "Fatal errors with spanish/french babel"
Testcase:

[code]

result:

[code]

[2014-06-27 09:02] fred-wang opened #500 "Drawing of 3D graphics"
https://en.wikibooks.org/wiki/LaTeX/Creating_3D_graphics

mentions the package

http://www.ctan.org/tex-archive/graphics/pstricks/contrib/pst-solides3d/tex

to create 3D graphics. Although, this could be converted into SVG like what is done for tikz, it might also be interesting to generate some interactive WebGL schema like

http://fred-wang.github.io/MathUI2014/demos/6-mathml-in-webgl.html

[2014-06-27 15:24] giovanni111 opened #501 "Optional arguments for wrapfig environments"
wrapfigure and wraptable provide optional arguments:

[code]

[2014-06-28 13:48] #501 closed, assigned to brucemiller

[2014-06-28 13:52] #497 closed, assigned to brucemiller

[2014-06-28 20:44] #498 closed, assigned to brucemiller

[2014-07-08 14:22] dginev opened #502 "Be smarter with \itemsep?"
I am testing some LaTeX files and find myself grabbing for more spacing between my itemized examples, e.g. via:

[code]

At the moment, LaTeXML simply ignores the vertical queues (to the best of my understanding). It would be a step forward to have that information preserved in the final HTML, maybe rounded to an integer? Then one can define CSS rules for the vertical distance, e.g. for "ltx_items

[2014-07-10 22:24] fred-wang opened #503 "tikz plots of linear functions do not produce straight lines"
testcase:

[code]

The svg output is

[code]

It looks like the coordinates of the points are only integers so there might be some rounding errors...

[2014-07-15 14:43] MonadicNomad opened #504 "\numberwithin{customcounter} generates validity error"
Using custom counters and \numberwithin generates malformed NCName, like `<equation frefnum="(4.1)" refnum="4.1" xml:id=".E1">`.

Self contained test case follows:

[code]

[2014-07-19 14:13] #504 closed, assigned to brucemiller

[2014-07-22 02:45] #503 closed, assigned to brucemiller

[2014-07-25 11:00] #444 closed, assigned to brucemiller

[2014-07-26 14:53] #489 closed, assigned to brucemiller

[2014-07-27 15:00] fred-wang opened #506 "Make the SVG images generated by tikz slightly larger"
Here is a screenshot of an SVG image generated from

[code]

at different zoom levels:

![a4a5](https://cloud.githubusercontent.com/assets/567455/3714255/edeb6a5a-159d-11e4-97c8-3a0b7fa734a9.png)

As you can see, sometimes, the pixels at the bounds of the picture are not displayed in Gecko (probably due to rounding errors etc). This is arguably a bug in Gecko (and maybe other Web engines), but the

[2014-07-27 17:47] #506 closed, assigned to brucemiller

[2014-07-27 17:59] #487 closed, assigned to brucemiller

[2014-07-27 18:10] #382 closed, assigned to brucemiller

[2014-07-29 16:36] #467 closed, assigned to dginev

[2014-08-01 16:41] fred-wang opened #507 "Image name conflicts with \includegraphics and --splitat"
Reduced testcase:

[code]

where image1.png and image2.png are distinct images in a parent directory. Then run:

[code]

You get:

[code]

Then both images get names "x1.png"... Without the --splitat=section, you have two images x1.png and x2.png, as expected.

[2014-08-05 16:43] dginev opened #508 "fancyhdr should not use a variable date in test file"
I think it's using `\today` or some such. Here is the error report when I run make test:

[code]

[2014-08-05 17:06] #508 closed, assigned to brucemiller

[2014-08-08 08:44] fred-wang opened #509 "Freeze during pgfmodulematrix.code.tex load for a basic gnuplot"
Testcase:

[code]

Command:

[code]

It's now 10:43 and the package is still being processed...

Note that there is a gnuplot dependency and TeX should be able to run external program. See http://www.texample.net/tikz/examples/gnuplot-basics/

[2014-08-08 16:37] fred-wang opened #510 "Support postprocessing to bundle FirefoxOS Web app"
I've recently been using LaTeXML and bash scripts to generate (packaged) FirefoxOS Web apps. Such apps are essentially:
- Web pages
- a manifest (http://cermat.org/events/MathUI/14/proceedings/FirefoxOS-for-Science/demos/app/manifest.webapp)
- everything zipped in one archive (e.g. http://www.maths-informatique-jeux.com/webapps/mathui-demos/package.zip)
- that's all!

They can be installed on Fire

[2014-08-09 19:54] duffee opened #511 "binding for epsf.sty hangs while processing"
I have a number of LaTeX files from arXiv that call \input{espf} and spin their wheels when I run latexml on them.  After 10 minutes I Ctrl-C and this is the error message I get

Error:undefined:\epsffileline The token T_CS[\epsffileline] is not defined.
    at /home/boyd/thesis/text/work/astro-ph_9910166/ms.tex; line 302 col 38
    In Core::Stomach[@0x1add628] at /home/boyd/thesis/text/work/astro

[2014-08-13 00:16] #509 closed, assigned to brucemiller

[2014-08-13 00:19] #511 closed, assigned to brucemiller

[2014-08-13 22:31] #479 closed, assigned to brucemiller

[2014-08-15 14:23] giovanni111 opened #512 "Typo in booktabs.sty.ltxml"
I found two missing backslashes:

[code]

[2014-08-23 03:49] cooperstevenson opened #513 "\includegraphics preserves SVG 'animation' but does not honor 'audio' tag."
If  the source file contains this:

\begin{wrapfigure}{l}{0.5\textwidth}
    \begin{center}
        \includegraphics[width=0.48\textwidth]{svg_file.svg}
        \caption{My SVG}
    \end{center}
\end{wrapfigure}

...and the SVG contains this:

  <audio xmlns="http://www.w3.org/1999/xhtml">
    <source src="test.ogg" type="audio/ogg"></source>
    <source src="test.mp3" type="audio/mpeg"></source>

[2014-08-23 07:36] kohlhase opened #514 "latexml generates fragid attributes, but the schema does not allow them."
I think something like

[code]

should be added to `Common.attributes`

[2014-08-23 20:53] #513 closed, assigned to brucemiller

[2014-08-25 03:25] petrelharp opened #515 "quotes in braces in quoted entry in bibtex should not terminate entry"
Take the following, ugly, entry:

[code]

LaTeXML chokes on the title, since  there are quotes in it, and the bibtex is using quotes to distinguish the entries.  bibtex doesn't complain about it, because the whole title is enclosed in brackets.  If run on a .bib file containing only this entry, latexml produced the title entry:

[code]

It seems ugly, but it also seems that others think this [is c

[2014-08-25 12:28] dginev opened #516 "LaTeXML::Core::KeyVal needs a hasKey method"
In sTeX, @kohlhase has become fond of the value-less keys syntax for keyvals. Namely, he would write:

[code]

Note the use of "primary". Given a $keyvals object from LaTeXML::Core::KeyVal, I would like to write a test such as:

[code]

but right now I had to resort to violating encapsulation and do:

[code]

which has entered the sTeX binding here:
https://github.com/KWARC/sTeX/commit/804323ce61d

[2014-08-25 13:24] dginev opened #517 "Failed formula parses are maybe too silent"
In sTeX, @kohlhase  has been noticing various formulas whose parses failed (and warnings were generated) that, upon inspection of the HTML, were missing most of their content.

From what I understand, whenever LaTeXML's parsing fails on a linear sequence of tokens, or at least in some particular cases when failures happen, the kept content is only the first tree of the forest. (I am not certain of

[2014-08-25 13:33] dginev opened #518 "Coerce tokens to variables"
Another sTeX-motivated issue. We have certain sequences that fail to parse with LaTeXML's current grammar, such as:

`+, 0, -, ∗, 1`

from a file on commutative rings, where we enumerate components. Now, while we can't expect LaTeXML's grammar to perform perfectly on arbitrary math, what we want to do instead is to specify that certain symbols are not used as operators, but instead as symbols, or

[2014-08-25 15:48] dginev opened #519 "RegisterNamespace -- also on document root"
So, this is probably a little touchy, since you have your own preferred way of dealing with XPath... but here goes.

In sTeX, we do a lot of operations with LibXML elements and nodes, for good or bad. A problem that I had patched and forgotten, but bit us again today, is that `RegisterNamespace` from Package.pm does not register the namespaces on the actual document root.

More precisely, if I get

[2014-08-26 15:36] #516 closed, assigned to brucemiller

[2014-08-26 15:38] #496 closed, assigned to brucemiller

[2014-08-26 15:53] #455 closed, assigned to brucemiller

[2014-08-26 16:01] #415 closed, assigned to brucemiller

[2014-08-26 16:05] #149 closed, assigned to brucemiller

[2014-08-26 16:18] #512 closed, assigned to brucemiller

[2014-08-26 16:53] #515 closed, assigned to brucemiller

[2014-08-27 16:38] eshellman opened #520 "need a binding for endnotes package"
The project I'm trying to convert is
http://bzr.savannah.gnu.org/lh/books/files/head:/free-as-in-freedom-v2/

There is a null binding at https://svn.kwarc.info/repos/arXMLiv/trunk/sty/endnotes.sty.ltxml
but it doesn't define any of the tokens in endnote

Have discussed on the mailing list, entering an issue here to track progress.

[2014-08-27 19:43] #519 closed, assigned to brucemiller

[2014-08-30 08:38] fred-wang opened #521 "Option to export images of formula as SVG"
While discussing with @physikerwelt about issues on MathJax-node SVG export and the MathJax TeX fonts, the topic of SVG export in LaTeXML was raised again. I'm not really a big fan of SVG for mathematical rendering: essentially it has all the issues of PNG, except that a) the images are zoomable and b) the files are somewhat lighter. However, some people might consider that a) and b) are already s

[2014-09-09 06:33] fred-wang opened #522 "\underbrace uses Unicode code point from the MathML 2 operator dictionary"
It seems that \underbrace generates the unicode code point U+FE38 "PRESENTATION FORM FOR VERTICAL RIGHT CURLY BRACKET" (from the "CJK Compatibility Forms" block) instead of the mathematical operator U+23DF, "BOTTOM CURLY BRACKET" (from the "Miscellaneous Technical" block). Gecko will try to stretch this character horizontally for backward compatibility, but recent Unicode fonts (e.g. Latin Modern

[2014-09-09 23:21] cooperstevenson opened #524 "latexmlc: support for '--include-file' for .epub"
If you include an SVG onclick() event that points to playing an audio file, that file needs to be accessible from the resultant .epub generated by latexmlc. If latexmlc had a --include-file switch, the author could create .epub output without having to unzip the epub, copy the file into the unzipped archive, edit the manifest, and rezip the epub.

[2014-09-11 18:07] JohnLloyd7 opened #525 "package listing: lstlisting deletes first line"
Hello,

I've noticed a problem in the listings package: lstlisting seems to swallow the first line if I omit the optional argument [] after \begin{lstlisting}. For example, if I write

[code]

then the line containing 'line1' will not appear in the output. I seem to be able to work around this by writing `\begin{lstlisting}[]` instead of `\begin{lstlisting}`, but it took me a while to figure that

[2014-09-14 15:53] #525 closed, assigned to brucemiller

[2014-09-14 15:56] #522 closed, assigned to brucemiller

[2014-09-14 16:23] #507 closed, assigned to brucemiller

[2014-09-14 16:35] #514 closed, assigned to brucemiller

[2014-09-14 16:44] #486 closed, assigned to dginev

[2014-09-16 01:57] #517 closed, assigned to brucemiller

[2014-09-16 09:36] dginev opened #526 "Better CSS for inline tables"
Preparing some demo slides and noticed that the CSS for inline tables is a bit off.

I have the following TeX snippet:

[code]

which looks like a pretty double-border inline table (I would attach a TeX screenshot, but GitHub issues don't allow me to).

 It seems in LaTeXML there is (correctly) an HTML table put inside a span of a paragraph, but the CSS on that table makes it render display style,

[2014-09-16 13:24] swalter62 opened #527 "perl warning from graphicx package"
Running latexml on a file invoking the graphicx package works fine but throws a (spurious?) Perl warning.

Test file grfx.tex:

[code]

Running latexml generates the following output:

[code]

So, a minor problem, but perhaps one that may be easily repaired.

[2014-09-16 13:52] #527 closed, assigned to brucemiller

[2014-09-23 16:18] #518 closed, assigned to brucemiller

[2014-10-01 14:14] swalter62 opened #528 "latexml error on split equation with period"
A while back I signalled a problem with the split environment, which Bruce duly rectified. I suspect there's a slight glitch in the code, as the addition of a period at the end of a split equation throws latexml errors.
Here's my test case, split1.tex:

[code]

Here's the latexml output:

[code]

If we remove the trailing period from the split equation, errors and warnings vanish.

[2014-10-03 20:45] azeemsm opened #529 "Comments in LaTeX equation not appearing in XML"
When trying to generate XML comments using LaTeXML from comments inserted in a

[code]

environment in a LaTeX file, the comments are not produced by LaTeXML in the output XML file.

I am using these comments to generate metadata associated with the equation itself in Wikitext that I am producing using an XSLT style sheet.

Any advice that might be offered would be greatly appreciated.

example La

[2014-10-04 17:58] ghost opened #530 "system(...) calls with multiple commands fail on Windows"
Using Windows-based perl (e.g. StrawberryPerl), some of the system(...) commands fail since they assume a Unix-based shell for processing multiple commands.

e.g. LaTeXImages.pm: 228:
   my $command = "cd $workdir ; TEXINPUTS=$texinputs $LATEXCMD $jobname > $jobname.output"
   my $err     = system($command);

For cross-platform functionality, these need to be corrected.

[2014-10-04 20:36] #529 closed, assigned to brucemiller

[2014-10-05 16:26] #530 closed, assigned to brucemiller

[2014-10-08 13:32] swalter62 opened #531 "footnote anchors"
It would be convenient, and more LaTeX-like, to be able to refer to footnotes via `\ref{label}` or something similar. As a workaround, one may manually insert an anchor via `\hypertarget{label}{text}` just before/after the `\footnote{}`, but such anchor insertion could also be the default transformation of footnotes containing labels.

[2014-10-09 12:43] #531 closed, assigned to brucemiller

[2014-10-09 12:47] #528 closed, assigned to brucemiller

[2014-10-09 17:30] ghost opened #532 "listings.sty delimiters not included in syntax highlighting"
For comments/strings/etc... inside a listings environment, only the body of the delimited expression gets highlighted, but the delimiters should be as well.

e.g.

[code]

produces

[code]

Sorry, I tried to figure this one out on my own, but can't figure out where the delimiters are re-introduced since they seem to be stripped in `lstProcess_internal()`

[2014-10-09 23:32] #532 closed, assigned to brucemiller

[2014-10-10 13:41] swalter62 opened #533 "latexml omits parentheses from tag"
LaTeX interprets the contents of `\tag{}`, in math mode if requested, and encloses it in parentheses. LaTeXML, on the other hand, interprets the contents in text mode, and omits the parentheses. Not quite a bug, but a surprising difference, and an ugly one, as a tag like `\tag{$2'$}` results not in `(2')`, but in `$2^{\prime}$`.
Here's a MWE:

[code]

No errors or warnings are thrown by latexml or

[2014-10-10 17:46] ghost opened #534 "LaTeXImages on Windows, doubled %% breaks conversion"
Hi Bruce, sorry to keep pestering you...
One of the latest commits broke my --mathimages conversion.

In LaTeXImages.pm, lines 77-78

[code]

On my Windows, this leads to the following error:

[code]

I'm not sure if this is a bug, or if it just has to do with my particular environment setup.  If I make it a single '%', it works properly.

[2014-10-10 19:03] #534 closed, assigned to brucemiller

[2014-10-11 17:06] physikerwelt opened #535 "two spaces in front of xref attribute in the math element"
Just something minor:
In

[code]

that has been generated with latexml with the id generation enabled there are two spaces between the alttext and the xref attribute. I think the second space is not neccary.

[2014-10-12 08:51] #535 closed, assigned to brucemiller

[2014-10-13 22:26] michaelsbradleyjr opened #536 "latexml crashes (inconsistently) when processing large files"
I have a large `.tex` file which, after it reached a certain size, started being processed inconsistently by the `latexml` command.  I tried breaking it up into smaller files and sewing them together with `\include{...}` but that didn't seem to alleviate the problem. As soon as I shrink the input down (one way or another, experimentally), it's processed correctly.

One interesting thing is that th

[2014-10-14 03:19] #536 closed, assigned to brucemiller

[2014-10-14 15:08] bernhard-kleine opened #537 "figures using the graphics package macros"
With the following I have created many figure in my book. I would like to know how to translate to XML:

[code]

Maybe the \captionof is from the unsupported package capt-of.

the source and the log will follow:

[code]

LaTeXML log:

[code]

XML output:

[code]

[2014-10-16 11:10] bernhard-kleine opened #538 "\acroextra from package acronym seems not to be supported"
this is a reminder of the problem we saw at the other thread.

[2014-10-16 11:27] #537 closed, assigned to brucemiller

[2014-10-16 14:12] bernhard-kleine opened #539 "\usepackage{svg}"
As this used a shell escape to inkscape I wonder whether that would work in latexml. IIRC latexml supports .svg images. I do not see how?

[2014-10-17 09:06] bernhard-kleine opened #540 "The greek language in babel is not supported"
I am using

[code]

for upright greek letters in my book. This is not supported. In case you know a working way of defining \ualpha etc.,  I would  be eager to use that.

The current errors are:

[code]

the line in question has an \uepsilon:

[code]

Bernhard

[2014-10-17 10:01] #540 closed, assigned to brucemiller

[2014-10-17 12:47] bernhard-kleine opened #541 "Package Minitoc not supported"
It may be that the functionality of the minitoc package - i.e. pull every section/subsection/subsubsection title to a chapterwise table ot contents - can be done by xslt but I donot know how to do that. Maybe you can show me how to include such XSLT elements or perhapt support the minitoc package.

[2014-10-17 14:36] bernhard-kleine opened #542 "\scalefont from Scalefont package still not supported"
This is strange. I can find the \scalefont in \lib\LaTeXML\Package\scalefnt.sty.ltxml since I updated yesterday from latexml-master. Still the error

[code]

persists. What to do next? There is only one LaTeXML one my computer.

Bernhard

[2014-10-17 16:18] bernhard-kleine opened #543 "Recursion with own macro"
I have separated the recursion to a small piece of macro.

[code]

The macro itself is to put all amino acid letters to a typewriter font and in uppercase. When it encounters an x this remains in lowercase (thanks to Heiko Oberdiek). It is not necessary to say that it works perfectly in pdflatex.

Bernhard

[2014-10-18 10:43] bernhard-kleine opened #544 "Figure not showing"
I have a figure:

[code]

which does not show up while there is no error message.
The relevant text in test1.html  formed by

[code]

remains empty: <img src="" ...

[code]

In Chap3/g/ are both HPAchsen.pdf and HPAchsen.svg and HPAchsen.svg is one candidate mentioned in test1.xml:

[code]

 The figure as such is there with the caption but the image is lacking. please advise

[2014-10-18 16:19] bernhard-kleine opened #545 "tee for the protocol"
Can you explain why the tee command from Gnuwin32 works with latexml but not with latexmlpost? As their is no log, I would be able to read these files instead of log.

Bernhard

[2014-10-18 21:32] #545 closed, assigned to brucemiller

[2014-10-19 10:45] #543 closed, assigned to brucemiller

[2014-10-22 09:46] dginev opened #546 "Hyphenation with CSS in HTML"
I am channeling Michael's (CC-ed @kohlhase ) inspiration that webpage typography can be improved by a large margin (pun intended) if hyphenation is performed correctly by the browser, as opposed to the current default of introducing very spurious spacing in degenerate cases. He claims this will be particularly visible in German, where the average word is rather long.

Of course, we want to be able

[2014-10-28 05:19] kohlhase opened #547 "make test gives lots of ID errors"
I am running `make test` on the newest LaTeXML and I get lots of errors of the form

[code]

Disclosure, I switched to Yosemite recently, so maybe something got messed up, ... I did however reinstall UUID:Tiny.

[2014-10-29 17:28] #521 closed, assigned to brucemiller

[2014-11-06 09:56] kohlhase opened #548 "Problem handling German floats."
Here is something I stumbled over today and I would like to discuss this with you (@dginev may also find this interesing):
When I use ```$0.717$``` in LaTeX, I get
[code]
which is very nice. But when I am in German, and I use ```$0,717``` I get
[code]
not so nice. There is a language discrepancy between the two. I am not sure that we want to parse $0,717$ as a float in English. Especially, since y

[2014-11-06 21:20] physikerwelt opened #549 "Slow rendering of Wikipedia formula"
Since there are only few formula that do not render on wikipedia I'd like to collect them here.

[2014-11-13 06:16] #547 closed, assigned to brucemiller

[2014-11-14 16:41] #239 closed, assigned to brucemiller

[2014-11-14 16:46] #499 closed, assigned to brucemiller

[2014-11-14 16:47] #465 closed, assigned to brucemiller

[2014-11-15 09:54] bernhard-kleine opened #550 "Tikz labeling of tree not shown but present"
I have a problem with the following code. The trees is well drawn but the labeling is not shown in the html with latexml and latexmlpost, only in the pdf with pdflatex. It is obviously a problem of style files since in the html code the labeling is present. Maybe only a small problem.

Bernhard

[code]

[2014-11-15 21:23] #546 closed, assigned to brucemiller

[2014-11-16 06:16] bernhard-kleine opened #551 "Macro from acronym not recognized"
With the following code I have found a bug I donot understand:
[code]
I would expect this error several times but not once. What strikes me is that the macro is defined in package acronym and should be defined. I am lost.
This is also a remainder for the acroextra macro of the same package.

Regards
Bernhard

[code]

[2014-11-16 11:18] #538 closed, assigned to brucemiller

[2014-11-16 14:01] bernhard-kleine opened #552 "Subscript too far away in chemical names"
The following code put the subscript to far from the stem.

[code]

![test13](https://cloud.githubusercontent.com/assets/9216487/5061647/d09c93ca-6d9f-11e4-9702-af76c1d9f7f0.png)
and raises the warning:

[code]

It should be like
![test13pdflatex](https://cloud.githubusercontent.com/assets/9216487/5061672/32e979ca-6da1-11e4-9608-41a139602dbc.png)

[2014-11-17 11:06] #552 closed, assigned to brucemiller

[2014-11-17 11:40] #464 closed, assigned to dginev

[2014-11-17 11:42] #490 closed, assigned to dginev

[2014-11-17 11:44] #441 closed, assigned to dginev

[2014-11-18 05:32] bernhard-kleine opened #557 "Chemical numbering -- almost"
The following code seems the smallest piece with chemical numbering I found. It throughs error in latexml (and runs smoothly in pdflatex). Please have a look what goes wrong.
Since I have all figure made in bkchem and got svg files there is no longer the problem of drawing only the one of numbering. If that could be solved it would be great. Maybe it turns out that the package chemcompounds could

[2014-11-18 12:48] #557 closed, assigned to brucemiller

[2014-11-21 11:53] #544 closed, assigned to brucemiller

[2014-11-21 13:03] #462 closed, assigned to brucemiller

[2014-11-22 02:23] dginev opened #558 "Add a0poster support"
The [a0poster](http://www.ctan.org/pkg/a0poster) package is one of the classic poster packages out there, and the current poster default for sites such as Authorea and WriteLaTeX.

It would be great to have LaTeXML support for it, as it would help working scientists put their TeX-made posters on the web.

[2014-11-22 02:25] dginev opened #559 "LaTeXML for the working scientist"
This is a meta issue intended to host discussion and suggestions on the general topic.

To kick off the 0.8.3 milestone (not a typo), I will self-assign a set of enhancements that I have wanted to see around for quite some time, and are extremely relevant for industry use of LaTeXML.

Namely support for:
- [x] CVs ( #200 )
- [ ] Slides ( #231 )
- [x] Posters ( #558 )
- [ ] APA citations ( #711 )
-

[2014-11-24 21:24] bernhard-kleine opened #560 "Deep recursion with Tikz"
In #550 I showed an example which did well compile and showed no deep recursion. However with the example below I encounter more than thousands warnings, and the time of compilation increases dramatically. For practical reasons this should be solved.
The file to run:
[code]
and the tikz tree (phylotree_tikz.tex which should be in the same directory)
[code]
The example should run with pdflatex, but

[2014-11-29 10:38] bernhard-kleine opened #561 "latexm does not export with tee"
I wonder why a command like

[code]

does not pipe the output of the screen to test.xml.log. Can you please explain? Is it strange BTW?

I found this problem first with windows 7 and thought I might be due to windows. However, the same happens with linux and that I will not accept as a system error since that works well with other programs on the command line, it must have to do with latexml or pe

[2014-11-29 10:55] #561 closed, assigned to brucemiller

[2014-11-30 16:41] #526 closed, assigned to brucemiller

[2014-12-02 18:08] bernhard-kleine opened #562 "Perl died - unknown error"
This file throws an perl error without latexml error:

[code]

[code]

I have no idea how to change that.

[2014-12-03 17:40] #542 closed, assigned to brucemiller

[2014-12-03 17:43] #558 closed, assigned to dginev

[2014-12-04 13:40] #562 closed, assigned to brucemiller

[2014-12-04 18:00] bernhard-kleine opened #563 "Perl dies -- document probably to large"
Is there a capacity limit for perl and latexml/latexmlpost? I ask this while my document gets larger and perl starts to die at some point which was processed smoothly when the doc was smaller? I can provide the code. latexmlpost stops with:

[code]

There was no warning / error message in latexml.

[2014-12-04 18:09] #563 closed, assigned to brucemiller

[2014-12-06 12:09] bernhard-kleine opened #564 "Threeparttable not supported"
This is the only package in latex which supports footnotes in tables and figures. Any support would be gratefully acknowledged.

[2014-12-06 12:11] bernhard-kleine opened #565 "Package Minitoc not supported"
Do you have any idea when this package will be supported. This is a must in books.

[2014-12-06 12:13] #565 closed, assigned to brucemiller

[2014-12-07 19:27] bernhard-kleine opened #566 "Implement optional args for origin in \rotatebox"
The following example throws an error with the latest and earlier builds:

[code]

[2014-12-07 21:14] bernhard-kleine opened #567 "Error in TIKZ"
This tiny example throws an error. Since there are a hello lot of them in my book, compilation does not finish. It stops after the hundreds error. It runs well with pdflatex.

[code]

The error with  --verb --verb

[code]

[2014-12-08 22:04] #567 closed, assigned to brucemiller

[2014-12-09 15:34] bernhard-kleine opened #568 "cannost create DM cache"
[code]

what is wrong?
in linux, .zip from today

[2014-12-10 16:25] giovanni111 opened #569 "multirow: Respecting optional arguments"
We suggest the following extension to multirow.sty:

[code]

[2014-12-10 17:23] giovanni111 opened #570 "Nesting \multicolumn and \multirow"
[code]

and LaTeXML version 0.8.0_01; revision 7beec04 I results in a table with

[code]

So, the attribute `rowspan="2"` is missing. Any idea how to fix this?
(Note that nesting `\multicolumn` and `\multirow` the other way around is fine for LaTeXML but not for LaTeX+multirow.sty.)

[2014-12-12 10:29] #569 closed, assigned to brucemiller

[2014-12-12 10:31] #570 closed, assigned to brucemiller

[2014-12-13 17:35] bernhard-kleine opened #571 "Too many errors, but only the second error message"
[code]

results finally in

[code]

There are only two error messages up to that point. This is strange and discouraging. Please advice!

I am obviously using the limits of the memory capacity, since it runs through without the index with no errors, for the index I get only warnings but no error messages. How to provide more memory?

edit: There are no more hints with --verb --verb, it stops at th

[2014-12-18 10:20] #568 closed, assigned to brucemiller

[2014-12-20 17:29] #571 closed, assigned to brucemiller

[2014-12-25 19:57] rgaiacs opened #572 "Display Math breaks paragraph"
## Summary

In LaTeX, empty lines mark the end of one paragraph and the begin of another. This means that

[code]

must be translate to

[code]

and

[code]

to

[code]
## How to Reproduce

[code]
## Current Output

[code]
## Expect Output

[code]
## Similar Cases
- `equation` environment

[code]
- `align*` environment

[code]
- others math environments.

[2014-12-31 00:40] r-gaia-cs opened #573 "Problem handling comma as floats separator (in MathML presentation markup)"
## Summary

This is almost a duplicate of #548 from @kohlhase.

I'm helping @fred-wang with some prototypes for Brazilian students and will be nice to handle properly the float separator.

## Steps To Reproduce

[code]

## Actual Results

[code]

## Expected Results

[code]

## Additional Information

I and @fred-wang will be happy to test any pull request for this.

## Environment Information

[c

[2014-12-31 01:46] #572 closed, assigned to brucemiller

[2015-01-01 10:18] dginev commented on #573
The problem is, as we discuss in the other issue, the comma is ambiguous - it can be a sequence delimiter, or a decimal "floating point". However, the difference seems to come with the natural language conventions, so that would allow us to disambiguate.

Would you be happy with us adding "Brazilian" to the language list that treats comma as a floating-point separator (currently only German) in #5

[2015-01-01 10:52] r-gaia-cs commented on #573
Yes.

[2015-01-01 10:53] dginev commented on #573
Deal :+1:

[2015-01-01 10:53] #573 closed

[2015-01-01 10:56] dginev commented on #548
We should also consider Brazilian among the languages where commas are used for a decimal separator, as indicated by the now closed #573.

[2015-01-15 10:15] ThomasA opened #574 "`mathsvg` option not supported in LaTeXML 0.8.0"
I have installed LaTeXML 0.8.0 from http://dlmf.nist.gov/LaTeXML/releases/LaTeXML-0.8.0.tar.gz in the hope of using it to convert LaTeX with maths into HTML with maths in SVG using the `--mathsvg` option as documented here: http://dlmf.nist.gov/LaTeXML/manual/commands/latexmlpost.html

I have verified that I am running the correct version:
[code]
but attempts to use the option fail:
[code]
The opt

[2015-01-15 10:17] dginev commented on #574
The option was introduced later than the 0.8.0 release. It will be available to the soon to be issued 0.8.1. You can already use the option if you install LaTeXML from GitHub, as described here:
http://dlmf.nist.gov/LaTeXML/get.html#SS7

[2015-01-15 10:17] #574 closed

[2015-01-15 10:19] ThomasA commented on #574
That makes the online documentation quite confusing then. I will try the
GitHub version, thanks.

[2015-01-15 10:21] dginev commented on #574
You are completely right that the online documentation ought to have a reference to LaTeXML version and GitHub revision, in order to avoid confusion.

Sorry you had to install 0.8.0 in vain!

[2015-01-23 05:28] kohlhase commented on #548
Has there been any progress on this?

As much as I appreciate the general complexity of the problem, I do think we can pick some low-hanging fruit here easily. For instance, just make the current number parsing algorithm parametric in the language (which we pick up from babel, if present and otherwise just assume English), and set the separator accordingly. This "making parametric" in the language

[2015-01-23 05:40] kohlhase commented on #548
I would really like to know about the ETA of the first level of support, otherwise we will have to work around this for the glossary.

[2015-01-28 13:28] tkw1536 opened #575 "latexmlc: Create subdirectory structure for --log if it does not exist"
When I do:

[code]

latexmlc simply dies with:

[code]

It would be good if latexmlc could create subdirectory structures for the log file if it does not exist.
/cc @dginev KWARC/localmh#194

[2015-01-30 11:17] brucemiller commented on #548
It isn't inherently complex, just very awkward to find the right place to associate the language with it's decimal and thousands separators, and how to effect the control. The numprint package is the only place I've seen in TeX that attempts to recognize the association, but it doesn't seem quite right to only support the feature only with numprint.

Let me see if I can get some initial support bu

[2015-01-30 11:20] brucemiller commented on #575
Oh, cool! Deyan has already assigned it to himself :>

We've usually tried to automatically create directory structure where needed when files are written, but sometimes we've overlooked it; there's a handy ```pathname_mkdir``` for this.

[2015-02-03 01:41] brucemiller commented on #548
actually, it's a bit of a mess, but there's initial support for this now.  It isn't really customizable, but I've copied the languages for which numprint gives special decimal and thousands separators.  Hopefully that will work for you for the time being.

[2015-02-03 01:41] #548 closed

[2015-02-03 01:44] #575 closed

[2015-02-03 08:32] kohlhase commented on #548
cool thanks.

[2015-02-10 11:12] fred-wang commented on #548
@brucemiller What was the commit? Did you use https://en.wikipedia.org/wiki/Decimal_mark#Hindu.E2.80.93Arabic_numeral_system ?

[2015-02-10 11:26] brucemiller commented on #548
Mainly that was in be42fbdfd1a5497cda3e31c339a1e51fba9d7c05.  It's pretty clumsy.

No, I didn't use that page, but it's a good resource.  The current code keys the switch on the ISO language code (with a short, hand-coded list: en, de, fr, nl, pt).  So I'd have to convert that page's list into country codes. That's kinda tedious and I haven't got time now, but if you did... :>

I guess there are a

[2015-02-10 11:34] fred-wang commented on #548
Apparently there are, since I noticed that Spanish countries are in both lists.

[2015-02-10 11:36] fred-wang commented on #548
Spanish-speaking I meant... ;-)

[2015-02-10 11:38] brucemiller commented on #548
ok; almost had to send you to diversity training!

[2015-02-10 13:19] fred-wang opened #577 "Error with \usetikzlibrary{babel}"
Reduced testcase:

    \documentclass{book}
    \usepackage[spanish]{babel}
    \usepackage{xunicode}
    \usepackage{fontspec}
    \usepackage{tikz}
    \usepackage{graphicx}
    \usetikzlibrary{babel}

    \begin{document}
    \chapter{Test}

    \begin{tikzpicture}
      \draw[->] (0,0) -- (0,4);
    \end{tikzpicture}

    $$u_{n+1} = u_n + k$$

    \end{document}

If you remove the last equati

[2015-02-10 13:53] dginev commented on #577
Did we ever even test with the babel tikz library? My gut feeling is that we never have.

[2015-02-10 13:57] brucemiller commented on #577
Nope: and the very fact that tikz and babel won't natively cooperate, but need a special tikz library, gives me a *bad* feeling.  A quick test shows that it ends up with a stray ```\endcsname``` and a stray ```\fi```.  So, a fishing expedition!

[2015-02-10 15:33] dginev opened #578 "Shebangs for bindings"
This is a tiny discussion issue on an entirely cosmetic feature.

Namely, I find myself linking to concrete lines in ```.ltxml``` binding files on GitHub quite often these days, and I love the ability to do so - it is powerful for conveying precise information.

The one thing that really eats at me though is that GitHub doesn't know how to highlight the ```.ltxml``` extension and leaves it as plai

[2015-02-10 18:41] dginev commented on #578
Oh and I should add GitHub also enabled highlighting in diffs, so binding diffs can look as good as the ```.pm``` diffs:
https://github.com/brucemiller/LaTeXML/commit/4c0a83617f241a4fd81fb0511c34d7e03acb02eb

[2015-02-10 21:44] brucemiller commented on #578
Seems perverse, as if they're executable...

You think there's any chance of recognizing emacs mode-lines....

Oh, wait: I think my google foo wins: They're now using Linguist, and there's an open issue:
https://github.com/github/linguist/issues/1792
which should make syntax highlighting reflect customizations.
I've added a .gitattributes file which asserts that ltxml is Perl (assuming that they h

[2015-02-10 21:58] dginev commented on #578
Ah yes, they had switched to Linguist, true.

I left a comment on your commit - while the new .gitattributes file will fix the GitHub stats, it won't affect the highlighting for "performance reasons".
https://github.com/brucemiller/LaTeXML/commit/144060be299728e6e9f76e45db5ca1bb55b9533e#commitcomment-9684441

Do I understand correctly that you would rather wait for the CPERL emacs heuristics to be

[2015-02-10 22:40] brucemiller commented on #578
I think the mode-line stuff is done and either in effect now, or will be soon. (But it could be that it doesn't know that CPERL == Perl?).

If there's a chance that the mode-line would work, I'd rather go with that. There's already an incentive to add those lines to all files! :>

[2015-02-11 13:41] brucemiller commented on #578
Aha! Thanks to @arfon Linguist already supports language formatting based on the emacs modeline, provided it's in the more restrictive form:
[code]
and I really needn't have (maybe *shouldn't* have) been using CPERL in the modeline, since any reasonable emacs has already been configured to use cperl mode for perl language files.

I've updated all the *.ltxml and *.latexml, to get the modeline, inc

[2015-02-11 13:41] #578 closed

[2015-02-11 16:26] dginev commented on #578
What a feast for sore eyes! The bindings look *beautiful* now, completely loving it!

Thanks for the refactor!

[2015-02-11 16:54] brucemiller commented on #577
I hadn't intended to fix this yet (or thought I could), but.... amusing.

Turns out that the spanish makes "." active, and that messed up the macros for ID's, which were being processed in math mode, but shouldn't have been.

Anyway, fixed; thanks!

[2015-02-11 16:54] #577 closed

[2015-02-11 21:34] fred-wang opened #579 "Error with \right. and \usepackage[spanish]{babel}"
Reduced testcase:

      \documentclass{book}
      \usepackage[spanish]{babel}

      \usepackage{xunicode}
      \usepackage{fontspec}

      \begin{document}

      $\left\{x\right.$

      \end{document}

[2015-02-13 16:37] matteosecli opened #580 "Binding request: siunitx & friends, enumitem, type1cm, listingsutf8, braket"
I've just encountered some unsupported packages while converting one of my documents, that prevent my document to be converted. They are:
- siunitx.sty,
- enumitem.sty,
- type1cm.sty,
- listingsutf8.sty,
- braket.sty.

I think that the most important is "enumitem", because it allows lists in the form a) b) c) d) etc..., that are a daily matter in writing LaTeX documents. Then, the second most impo

[2015-02-14 21:49] swalter62 opened #581 "no displayed equations in footnotes"
While inline math mode within a footnote is handled correctly by LaTeXML, displayed math appears in the main text, without so much as a warning. Here's a test case, eqn-in-note.tex:
[code]
When I run ```latexml --dest=eqn-in-note.xml eqn-in-note``` I get the following:
[code]
Here's the output of ```latexmlpost --dest=eqn-in-note.html eqn-in-note.xml```:

[code]
LaTeX accepts display math in footn

[2015-02-15 13:19] brucemiller commented on #581
Actually, if you inspect the XML & HTML, you'd see that it *has* put the equation in the footnote. Unfortunately, the block-level markup used for the equation isn't allowed within the html span used for the footnote, and the HTML5 parser essentially rewrites the document to conform to its model (HTML4 and XHTML will probably yield what you expect, inspite of the lack of validity).

See #526 and #5

[2015-02-15 15:00] brucemiller commented on #580
Thanks for the kind words; it's appreciated!

* I think that type1cm.sty is pretty much ignorable, so I've created an empty binding for that.
* I'm hoping that the encoding issues that make listingsutf8 necessary aren't relevant to latexml, so I've defined listingsutf8 to simply load listings; let me know if that works out.
* The two packages siunitx and braket have some interesting semantics and

[2015-02-15 18:17] swalter62 commented on #581
I see the problem -- I'd guessed that this issue was related to #572, and can confirm that XHTML yields the expected output. Thanks for taking this up!

[2015-02-15 20:48] matteosecli commented on #580
Thank you for the quick response!
I've just compiled and tried the new version, and now my document compiles (if you wanna use it as a test for the other packages I've reported, it's in one of my repos: https://github.com/matteosecli/QMC/blob/master/LaTeX/main.tex). It's -- obviously -- full of errors about the "braket" package, but apart from that the result is still nice. The listingsutf8 packag

[2015-02-21 23:44] dginev opened #582 "\lxRDF parameters mis-documented?"
So, I am using the ```lxRDFa.sty.ltxml``` delights for smoothly adding RDFa metadata to my blog posts, which works incredibly nicely!

This issue is to report that the documentation of ```\lxRDF``` seems out of date. In particular, see:
https://github.com/brucemiller/LaTeXML/blob/master/lib/LaTeXML/Package/lxRDFa.sty.ltxml#L155

Which claims:
[code]

In fact, the current accepted syntax is with re

[2015-02-21 23:45] dginev commented on #582
I made an issue instead of a pull request, since I was unsure if you want to change the documentation or the code, I am happy either way.

[2015-02-23 15:41] dginev opened #583 "More compact {alpha} bibliography style"
I am just styling LaTeXML's beautifully working citations that "just work" with one call of latexmlc and, even though I know I am repeating myself, I am totally loving the experience.

The one weird bit that I can not really style is the generated alpha labels for the citations, which are just too long and look a bit off. Here is an example screenshot from the blog post I am writing:

![cite](http

[2015-02-23 15:43] dginev commented on #583
So, minimal summary: Would be nice to have ```KCD+11``` instead of ```KCDGJKLMMZ11```

[2015-02-23 15:49] dginev commented on #583
It seems to be a simple truncate to "+" after the third alphabetic character. Should be a very simple enhancement.

[2015-02-23 18:53] #583 closed

[2015-02-23 19:12] brucemiller commented on #582
I wrote the documentation and binding before I wrote the latex side, which reminded me that it's traditional to put the optional args first.  So, the doc was wrong. Thanks!

[2015-02-23 19:12] #582 closed

[2015-02-23 19:17] brucemiller commented on #580
OBTW: braket was actually quite easy, and I did manage to squeak that into the distribution before releasing 0.8.1.  siunitx looks interesting and useful, but it's a bit larger, so it, along with enumitem will come later.

[2015-02-23 22:54] matteosecli commented on #580
Thanks again!
I tried to recompile my document with version 0.8.1_rev114e1eb a couple of days ago, and the "braket" parts worked like a charm. The output is as perfect as expected on both Chrome+MathJax and Firefox with native MathML.

[2015-03-07 08:18] kohlhase opened #586 "changelog short of 0.8.1"
In http://dlmf.nist.gov/LaTeXML/get.html the first line points to the changelog  http://dlmf.nist.gov/LaTeXML/Changes (after announcing 0.8.1) but that stops at 0.8 :-(

[2015-03-13 14:42] HowardCohl opened #587 "\mathrm in last argument of \defSpecFun"
We discovered that there is a problem with using \mathrm in the last argument of \defSpecFun if the length of the argument is more than one and there are at least two arguments.

See our test at:

[DRMF Wiki](http://drmf.wmflabs.org/w/index.php?title=User:Admin&oldid=29059)

[LaTeX fails with the following error](https://gist.github.com/HowardCohl/224843ce760bfa39d9e8)

[2015-03-13 14:48] brucemiller commented on #587
please supply a self-contained testcase that can be run from the command-line; say a single .tex file

[2015-03-13 15:15] HowardCohl commented on #587
[LaTeX file](https://gist.github.com/HowardCohl/832a670433b82bf4edbf)

works with pdflatex but not with latexml.

[2015-03-14 23:35] brucemiller commented on #587
no, actually the sample works fine; why don't you post a testfile that you actually tested...

[2015-03-14 23:36] brucemiller commented on #587
And by the way; how did you come up with "mathrm" being the problem?

[2015-03-15 02:23] physikerwelt commented on #587
If the tex file works for you but not for howard, probably the package ```\usepackage{DLMFdefun}```
point to another version. I can test that on Monday, when I can access the files.

@HowardCohl can you create another macro,to test the influence of mathrm
[code]

![screenshot 2015-03-14 22 11 37](https://cloud.githubusercontent.com/assets/2777736/6654407/9e3564ec-ca98-11e4-9c85-77d085cbe185.png)

[2015-03-15 03:01] physikerwelt commented on #587
Mh. The [example](http://gw125.iu.xsede.org/test.html) seems to render fine on the server with plain latexml form the commandline.
So I guess one of the various post processor options might cause the trouble
[code]
You can run
[code]
to reproduce what MediaWiki is doing.

[2015-03-15 03:24] physikerwelt commented on #587
or a shorter version with the same effect (that perl dies)
[code]

[2015-03-15 12:51] brucemiller commented on #587
The key thing is that ```\usepackage{DLMFmath}``` causes the error (and gives (or tries to) semantic markup), whereas ```\usepackage{DLMFdefun}``` doesn't have an error.

Anyway, it's fixed now.

[2015-03-15 12:51] #587 closed

[2015-03-15 12:53] brucemiller commented on #587
And as a reminder: the request for a test case is to allow us to focus on fixing the problem.  Having a test case that actually causes the error keeps us from having to guess what you actually did. So, please supply test cases, but please actually test them using ```latexml``` and/or ```latexmlpost```.
thanks

[2015-03-15 14:33] HowardCohl commented on #587
Thanks for the clarification regarding test cases.
We actually did test the test case, but apparently our test wasn't sufficient.
(It was producing fatal errors, but for a different reason I guess.)

@moritz, I uploaded the changes to our LaTeXML server.

See for instance:
http://drmf.wmflabs.org/wiki/Definition:AntiDer
http://drmf.wmflabs.org/wiki/Definition:Int
http://drmf.wmflabs.org/wiki/User:

[2015-03-15 17:38] brucemiller commented on #586
I finally updated it (but too late to include in the official 0.8.1 tarball on cpan); Thanks

[2015-03-15 17:38] #586 closed

[2015-03-17 17:04] brucemiller commented on #581
I've updated the XSLT & CSS to go into span-soup mode when equations appear in a non-block context.  So equations inside footnotes (and other peculiar places) should work now. Hopefully no negative side-effects! :>  Thanks for the report

[2015-03-17 17:04] #581 closed

[2015-03-19 00:18] swalter62 commented on #581
I tried it out the new code, and can confirm your success: we now have equations displayed in footnotes in HTML5. Thanks a million!

[2015-03-19 00:35] dginev commented on #581
I can confirm too, here is a link to a demo:
latexml.mathweb.org/editor?tex=There%20is%20an%20equation%20in%20this%20footnote%5Cfootnote%7BTrue%3A%20%24%5Csqrt%7Bx%7D%5Cgeq0%24%7D

[2015-03-19 22:27] swalter62 commented on #581
Upon further testing, I notice the following problem with numbered equations in footnotes: the equation number appears on the subsequent line to that of the displayed equation. I will supply a test file if you like, but since automatic numbering is the default in the equation environment, the behavior I describe is easily reproduced. Can this be repaired?

[2015-03-19 22:29] dginev commented on #581
Since I am now addicted to linking to TeX snippets on the showcase, here is a fully reproducible example from the last comment by  @swalter62 :

http://latexml.mathweb.org/editor?tex=There%20is%20an%20equation%20in%20this%20footnote%5Cfootnote%7BTrue%3A%20%5Cbegin%7Bequation%7D%5Csqrt%7Bx%7D%5Cgeq0%5Cend%7Bequation%7D%20False%3A%20%5Cbegin%7Bequation%7D%5Csqrt%7Bx%7D%3C0%5Cend%7Bequation%7D%7D

[2015-03-20 17:05] brucemiller commented on #581
I think I have a safe fix for the css padding in equations now; works here. I also took the opportunity to make the popups a little prettier.

[2015-03-20 19:05] dginev commented on #581
Oh nice, it looks gorgeous! You can click on my [previous link](http://latexml.mathweb.org/editor?tex=There%20is%20an%20equation%20in%20this%20footnote%5Cfootnote%7BTrue%3A%20%5Cbegin%7Bequation%7D%5Csqrt%7Bx%7D%5Cgeq0%5Cend%7Bequation%7D%20False%3A%20%5Cbegin%7Bequation%7D%5Csqrt%7Bx%7D%3C0%5Cend%7Bequation%7D%7D) for a live demo.

[2015-03-20 21:42] swalter62 commented on #581
I concur with Deyan: it looks great, Bruce, equation numbers and all in HTML5.

[2015-03-23 15:39] dginev commented on #200
Just to show this is possible (and I do apologize I am linking to my own bio), this is a moderncv-based resume, created via LaTeXML: http://prodg.org/cv .

I would like to make arrangements for the responsible code to swim back into the master repo, but it needs some polish first. At the moment, it contains:
 * A moderncv.sty.ltxml binding
 * A LaTeXML-CV.xsl post-processing stylesheet (because I

[2015-03-23 23:06] swalter62 opened #588 "footnote inherits textsc style"
This is a minor issue, but I thought I'd point it out all the same. Inside a flushright environment, when a footnote command follows text marked as smallcaps, the displayed text of the footnote appears in smallcaps. No errors or warnings are thrown. Here's an example:
[code]
LaTeXML produces the following XML:
[code]
Can you guess what's going on here, Bruce?

[2015-03-24 11:35] brucemiller commented on #200
Interesting, since I just updated my cv using moderncv...

Most of moderncv looks "easy", if tedious; and the styling takes some creativity; so the 1st & 3rd items shouldn't be hard to integrate.

Trickier is how to deal with the 2nd item: to easily integrate extra stylesheets, or to avoid the need to do so.  The catch with bootstrap, is that, perhaps inevitably, you have to completely buy-in at t

[2015-03-24 13:25] dginev commented on #200
I agree that moderncv is easy but tedious, it is 100% styling work.

I think we can do with a simpler solution that is already compliant with the way LaTeXML deals with CSS. Namely:
 * The moderncv binding will add LaTeX-motivated structural markup via class attributes (```ltx-cv-address``` if need be).
 * There can be be two separate stylesheets - ```ltx-cv.css``` and ```ltx-cv-bstrp.css``` that

[2015-03-24 16:33] brucemiller commented on #200
But bootstrap is general purpose, not specific to cv, right? So someone might want to use it with any document that LaTeXML generates. Seems like we should be thinking of either hooks, or conventions, or a suggestion guide as to how someone could generate their own extra boostrap css. They can always request the extra stylesheet be loaded using the ```--css``` option.

[2015-03-24 16:40] dginev commented on #200
Right, my previous suggestion was "let whoever is writing the CSS files figure out how to integrate Bootstrap", keeping it completely external to the LaTeXML pipeline.

Internalizing a particular CSS dialect may cause more problems than it solves.

[2015-03-24 16:41] dginev commented on #200
So I totally agree with your "let them use ```--css```" conclusion. Guides on how to write Bootstrap-inheriting CSS already exist, it's basically writing LESS and compiling it to CSS.

[2015-03-25 10:28] brucemiller commented on #200
I'll be looking forward to seeing the binding & css.  And of course, if there's ways to make using bootstrap easier, w/o necessarily building it in, that'd be nice to hear!

[2015-03-28 20:49] fred-wang opened #589 "Infinite loop with tikz/pgfplots and basic trigonometric functions"
Follow-up of #498 :-)

Testcase:

      \documentclass{article}
      \usepackage{pgfplots}
      \begin{document}
      \begin{tikzpicture}
        \begin{axis}[axis x line=middle, axis y line=center]
          \addplot[domain=-2*pi:2*pi,smooth](\x,{sin(\x r)});
        \end{axis}
      \end{tikzpicture}
      \end{document}

This ends up with an infinite loop

            warning:expected:<numbe

[2015-04-06 21:28] dginev opened #590 "deluxetable support"
Style file at: http://fits.gsfc.nasa.gov/standard30/deluxetable.sty
Example at: http://jessresearch.blogspot.com/2012/07/making-awesome-latex-tables.html

Amazingly, this package is not on CTAN, but it has entered very widespread use among astrophysicists, and I am told would be very warmly received as a LaTeXML-supported package.

I will look into this myself in the short-term, but anyone should

[2015-04-06 22:58] dginev opened #591 "Spurious th element in HTML table body"
The LaTeX source:
[code]

When run with ```latexmlc --format=html5``` produces:
[code]

[Click here](http://latexml.mathweb.org/editor?tex=%5Cbegin%7Btabular%7D%7Bll%7D%0AH1%20%26%20H2%5C%5C%20%20%20%0AA%20%26%200%5C%5C%0A%0A%5Cend%7Btabular%7D%0A) for a live example

Note that inside the table rows inside the table body, the first column is always a ```th``` instead of a ```td```. I can only assu

[2015-04-08 22:06] dginev commented on #589
More context from this run that may be relevant:
[code]
for me the conversion hangs after the last error from this snapshot.

I will schedule this for 0.8.2, with the hopes that either Bruce or I get enough time to find the culprit here. And I would so love to find a way to speedup things, it's painstakingly slow.

[2015-04-09 23:05] brucemiller commented on #591
Well, it's not quite the bug that you think it is. It's looking at apparent distinctions between the formatting and contents of different rows and columns to attempt to infer whether the row or column is likely to be a heading.  Often the 1st column of a table is a heading.  No idea, without digging, why the blank row should affect it here.  The method is wildly heuristic and while more often righ

[2015-04-09 23:07] dginev commented on #591
We should coin the term HI for "Heuristic Intelligence". Can't we have a special "ltx_guessed_th" class to mark those? Then I can style based on how much I believe the heuristic :>

[2015-04-10 00:04] brucemiller commented on #591
well, *every* <th> in a latexml table is guessed. But I'm surprised that it didn't get some unique class anyway, just ltx_td.

[2015-04-13 22:34] dginev opened #592 "Preserve information for broken citations in CrossRef"
For practical (backwards-compatibility) reasons, I am currently developing a setup where LaTeXML is run on fragments without a bibliography, but with the actual ```\cite{}``` commands left in the source.

I find myself needing the actual citation keys in the final HTML output, so that we can post-process them externally to LaTeXML. The keys are already present in the LaTeXML XML but seem to get st

[2015-04-14 23:06] dginev commented on #591
Ok, got around to reading the details of the Alignment heuristics. Very interesting!

I am going to reframe this issue as a discussion, rather than a bug report, now that I understand more.
 1. Do I understand well, that if one wants to mimic the LaTeX styling in HTML, there should be no CSS rules based on ```td``` and ```th```, instead all of them should be about ```.ltx_td```?
 2. I think when L

[2015-04-15 19:05] dginev opened #595 "Global namespace via --documentid not applied to math and tables"
In the reverse workflow to --split, LaTeXML is used to convert several adjacent fragments (usually sections or paragraphs), the HTML results of which are then put together on the same page.

At the moment, attempting this inevitably results in ID collisions. This is the case even with ids disabled via `--preload=[noids]latexml.sty`, as several elements get IDs unconditionally (those with labels, p

[2015-04-15 22:15] petrelharp opened #597 "defining \R with \newcommand fails"
I (and many others, I think) am in the habit of defining `\R` to give the math blackboard bold symbol, as in the following document:
[code]

But, this gives the following error:
[code]
and fails to put in the right thing for the `$\R$`.

Sure enough, if the `\newcommand` is changed to `\renewcommand`, then it works with LaTeXML; but, then, not with `pdflatex`.  (This works for both, though:
[code]

[2015-04-15 22:30] dginev commented on #597
Very curious (and embarrassing) error!

Turns out it stems from \endR being defined in eTeX.pool.ltxml, as follows:
[code]

Do we follow the exact algorithm of ```\newcommand``` for checking if a macro is defined? Maybe we ought to. And if we are, we need to figure out what to do with that ```\endR``` in eTeX.

[2015-04-15 22:34] dginev commented on #597
Quickest fix is doing the following refactoring in eTeX.pool :
[code]

[2015-04-15 22:35] dginev commented on #597
The larger question is whether this means we should have a stricter style for defining empty/unimplemented/no-op macros, where we always tie them to ```\relax```, just so that we are sure that ```isDefinable``` operates correctly.

[2015-04-16 14:43] brucemiller commented on #595
There's a lot of contrived stuff in the post-processing when things are stuffed into and pulled out of the database (generally by Scan and CrossRef), to try to reassign ID's.  LaTeXML::Post::Document has a method cloneNode that tries to arrange that.  I don't know if that's available to you in the place where you're assembling pieces?

[2015-04-16 14:46] dginev commented on #595
I am assembling pieces out and after LaTeXML, and in a different programming language. So I can only specify an option / load a special package as a configuration tactic. But as I said, I have a stopgap solution here, not urgent.

[2015-04-16 15:20] brucemiller commented on #592
I stole some code snippets from your pull request, but rewrote it to combine the several elses that would have been needed; should achieve the same effect, and maybe even catch another case that would have leaked through.  I also added ```ltx_missing_label``` to ```\ref```'s that have no defined label.  Thanks for the proposed patch!

[2015-04-16 15:20] #592 closed

[2015-04-16 15:21] dginev commented on #592
Wonderful! Thanks for the quick adoption!

[2015-04-20 08:46] kohlhase opened #599 "make postprocessor more verbose"
I am experimenting with the postprocessor a bit, and it would be very helpful, if it could be more chatty. Currently, it gives log like
[code]
It would be great if the XSLT processing would show what stylesheets are loaded, best with full path.
And while you are at it, I have a curious preference for balanced parentheses.

[2015-04-20 12:45] brucemiller commented on #597
So, I actually quite misunderstood the test dealing with "end" in ```\@ifdefinable```.  Should be good now; thanks for the report.

[2015-04-20 12:45] #597 closed

[2015-04-20 14:07] brucemiller commented on #599
Easy enough, and helpful. Done!

[2015-04-20 14:07] #599 closed

[2015-04-20 14:13] brucemiller commented on #595
There's at least part of a "native" solution there. If you assign DOCUMENTID, that will be used as the base ID from which all node ids are derived. So, if you're processing multiple documents that you want to combine pieces from, establishing a unique DOCUMENTID for each, and assigning before processing each, would work.  Not sure if that's solving the exact problem?

[2015-04-20 14:23] brucemiller commented on #591
Interesting; didn't know about the scope attribute. It probably could be inferred from the heuristics --- or at least, whether LaTeXML *thinks* it's a row/column heading!  OTOH, scope only applies to th. And I was going to say that it is presumptuous to even use th instead of td; that it would be better to only add a ltx_guessed_th to class!

I think that the size of the table is indirectly affect

[2015-04-20 15:24] petrelharp commented on #597
right. on. thanks!

On Mon, Apr 20, 2015 at 5:45 AM, bruce miller <notifications@github.com>
wrote:

[2015-04-20 15:26] dginev commented on #595
That is exactly what I need yes. Is there a "best practice" of how to specify the DOCUMENTID on input? I can pretty much incorporate it anywhere, from command-line options to preamble macros.

[2015-04-20 16:15] dginev commented on #591
Right, if you are guessing styling, it would be awesome if that is always captured by a special CSS class, even if LaTeXML also produces special element markup. Being able to quickly write CSS selectors for particular heuristic markup is a super powerful customization tool.

In fact, I am missing that right now, as I am embedding the LaTeXML document in a larger context which could have its own HT

[2015-04-20 22:41] dginev commented on #599
Now also merged into the KWARC fork.

[2015-04-20 22:54] dginev commented on #595
Ha, there is a ```--documentid``` option! Who knew :> Well, if it is there, I guess I can use it. Though I am itching to suggest removing it, just because it seems too rare of a use case. Maybe redo it as ```--preload=[documentid=foo]latexml.sty```? But let's leave it as it is for now.

One thing I noticed was that the documentid prefix was not used everywhere. I am seeing it on logical elements (

[2015-04-21 15:51] brucemiller commented on #579
Hmm... turns out it was tricky.  But fixed, I think 895edc95d30852cc8678bff5a372060df401943a  & 837fdc5293c016edef7c81509d13efb19a393f32.  Thanks!

[2015-04-21 15:51] #579 closed

[2015-04-21 16:02] brucemiller commented on #595
can you show me how/where ids' are missing the documentid? I'm seeing them.

[2015-04-21 16:04] brucemiller commented on #591
Not quite obvious how to propogate the, otherwise useless, scope attribute up to the html (and that's presumably only an html5 attribute?).  How about having distinct row/column class values?  ltx_guessed_row_th, ltx_guessed_col_th ?

[2015-04-21 16:38] brucemiller commented on #588
curious.  It actually isn't affected by the flushright.  But what seems to be the issue is that latex considers small-caps as a "shape" (and latexml correctly resets the shape to upright), but in css, small-caps is a font-variant (which is *not* being reset!).  Have to think about this...

[2015-04-21 16:46] dginev commented on #591
It's css, let's have several:
 * ```ltx_th ltx_row_th```
 * ```ltx_th ltx_col_th```

If all of them are guessed, no harm in dropping the ```guessed``` bit, it's cleaner without it.

[2015-04-21 16:49] brucemiller commented on #591
Sure, but you'd asked about deluxetable; I took a brief look at it, and it actually (and nicely) allows you to declare both column and row headers!  So, in that case, they presumably would no-longer be guessed.  (you can turn off the guessing, btw.... somehow).  Is that a distinction that's worth preserving?

[2015-04-21 16:56] dginev commented on #591
Oh nice. Yes, then it is worth preserving, since someone may not like the guessing for column headers and open an issue about it :> Then I suggest:
 * ``` ltx_th ltx_guessed_th ltx_row_th```
 * ``` ltx_th ltx_guessed_th ltx_col_th```

For the guessed headers. More classes means finer granularity for the CSS hooks.

[2015-04-21 17:08] dginev commented on #590
Btw since you mentioned deluxetable in another issue, I have half of the binding ready now, trying to understand better some of the more fancy bits about the exact table setup it requires.

[2015-04-21 21:22] swalter62 commented on #588
I see now that flushright is indeed a red herring, and that insertion of a period before the footnote command produces the expected output.

[2015-04-22 12:44] brucemiller commented on #588
Got the CSS sorted out, now. commited 3de1a4f835c3ff200ceef5cf23d4c39888a2f363 & 163ef9d90d2d1b81c35845ea6d0bc7f9dcf02820.  Thanks for the report

[2015-04-22 12:44] #588 closed

[2015-04-22 12:46] brucemiller commented on #595
Aside: eventually I'll have to sort out handling package options that use keyval, instead of simply csv. latexml.sty would benefit from keyval options, as you suggest (whether preloaded or not).

[2015-04-22 13:51] brucemiller commented on #590
Hmm... in addressing #591, I first was checking whether classes on alignment elements are being done consistently.  I stumbled onto a deluxetable environment in aas_support (American Astronomical Society); it looks similar to the separate package, although only partly implemented. Probably we should do it Right, as deluxtable.sty.ltxml and include that in aas_support.

Hmm, Hmm... On further thoug

[2015-04-22 14:34] dginev commented on #590
I agree, especially since I feel a little bit rusty with writing bindings and don't at all mind reading your code to freshen up my assortment of TeX tricks. Will send over the basic state I have in a bit, need to get to that laptop.

[2015-04-22 15:50] dginev commented on #590
Sent a file bundle via email.

A related concern about deluxetable, and also an interesting general discussion, is managing the "impedance mismatch" between HTML and PDF. In our web editing setting for instance, we are very curious if LaTeXML could already tell us "hey, here is your table, but be aware this is too wide for an a4 page!" so that we can already report to the authors that their PDF wi

[2015-04-23 03:44] dginev commented on #595
Interesting. Classic invocations of LaTeXML work well:
[code]

It also works well with ```latexmlc```. However, if I turn on post-processing, the ID prefixes disappear. Try:
[code]

The only addition is the post-processing to HTML5 (which changes a lot underneath of course). Interestingly, running latexmlpost on the core processed XML also loses the ID prefixes, so I am assuming this is some gener

[2015-04-23 03:57] dginev commented on #595
Did a little digging, the HTML5 stylesheet is changing the IDs. Will check why next.

[2015-04-23 04:02] dginev commented on #595
The fragids don't have the prefix, and they get copied instead of the actual xml:id. We need the documentid to get propagated into the "fragid" attributes.

[2015-04-23 10:23] brucemiller commented on #595
Nope, fragids don't have the prefix--- that's really the point: they're id's relative to the document.  If you see any fragids that *do* have the prefix, *that's* a bug!

I guess it didn't quite sink in that you're combining pieces of HTML, rather than XML.  It ought to work relatively straightforwardly to combine fragments of LaTeXML and then XSLT to html. Otherwise, we'd need a new option to dis

[2015-04-23 11:04] swalter62 commented on #588
That was quick. This works fine for me -- thanks a million, Bruce!

[2015-04-23 13:01] dginev commented on #595
How is losing the global ID namespace in the final HTML output not a bug? That namespace was explicitly provided on input, there is clear intent for it to be preserved.

[2015-04-23 13:18] brucemiller commented on #595
Clearly intended to be preserved in the xml; which it is.

[2015-04-23 13:28] dginev commented on #595
Right, but why lose it in the HTML? I am still not understanding how that is a "feature".

[2015-04-23 13:31] brucemiller commented on #595
aesthetics, basically; and useful correspondences when ID's are related to visible reference numbers.
To avoid immensely long ids when you have a complex set of large documents that get split into smaller pages.

[2015-04-23 13:38] brucemiller commented on #595
Put another way: we're talking about HTML now, not XML. An html id is an identifier *within* a page. In contrast, a URL (possibly with a fragment identifier) is a global identifier.  So shortening the id removes the redundancy.  Yeah, it's still aesthetics.

[2015-04-23 13:44] dginev commented on #595
So, correct me if I am wrong, but the only meaningful difference between XML and HTML output, as far as LaTeXML's ID generation is concerned, is whether we have a capacity to split the document into multiple pieces. Which is the main reason why we care about fragid being as small as possible.

Maybe all that is needed here is an extension for the special case of latexmlc, which has the ```--docume

[2015-04-23 13:50] dginev commented on #595
The key remark I have is that we don't "need a new option", we just want to evolve ```--documentid``` to usefully be observed in post-processing.

That should sound less controversial and more useful, right?

[2015-04-23 13:51] dginev commented on #595
In the case of using both ```--documentid``` and ```--split```, the ID namespace will have to be copied over to every single split piece, i.e. it is acting as a global namespace to the entire document. Clearly it's main use will be together with ```--whatsout=fragment``` in the HTML use case, but I think we can have an intuitive behavior here.

[2015-04-23 14:05] brucemiller commented on #595
In terms of intuitive & expected, I don't really see how "documentid" is a meaningful concept for postprocessing. At least it isn't intuitive to me what it should mean. After all, in postprocessing, you're given an XML document which already has ids.  So documentid would suggest that you want to *change* the id, not *preserve* it.

If the collapsing of ids in the html is something worth controllin

[2015-04-23 14:08] dginev commented on #595
Well, the option is described as:
[code]

So when I run:
[code]

Why is the ID not on my document root? That's already expected.

[2015-04-23 14:16] brucemiller commented on #595
Not my fault! That's the description copied from latexml, where it means what I say it means.  When it's copied, unchanged, to latexmlc, I agree that it has different implications.  Obviously not the implications that I had in mind.

And supposing you did avoid a new option to preserve the id all the way through by piggybacking --documentid.  Then *I* would need a new option to specify --documenti

[2015-04-23 14:16] brucemiller commented on #595
(the latter comment in the context of eventually wanting a single latexml command)

[2015-04-23 14:20] brucemiller commented on #595
If anything, I think that fragment output is the only place it makes sense to piggyback; it's the only context where it makes sense to imagine synthesizing a full html out of isolated pieces, and you would want those pieces not to clash.

[2015-04-23 14:38] dginev commented on #595
Agreed, it's my fault! But I am using that as leverage :>

Well, it's good we caught this behaviour question early on, so that we can discuss it early. I didn't even know ```--documentid``` existed two days ago!

Also, you can't prove a negative - maybe there are no other use cases, maybe there aren't. The fragment one is one case that we know is out there, and if I we are keeping this option in l

[2015-04-23 16:43] brucemiller commented on #595
I assume converting to mathml is a fragment case? that should also cause problems if you put multiple maths on a page if they have ids. If you take a full html page apart & reassemble, you deserve what you get.  So, you're arguing for a separate option instead of leveraging fragment? :>

Obviously I don't use mega-latexml in that workflow yet, and it wouldn't be a single call, since it's processin

[2015-04-23 16:47] dginev commented on #595
Well played.

The math conversion are a ```--whatsout=math``` case, which is even tinier than fragment and, as you indicate, would immediately bring you clashing ids, if you have any. All math will come back with an ```m1.``` id prefix, and boom goes uniqueness.

So ```--documentid``` can conceivably be used there as well.

In any case, I certainly am not arguing in favour of a new option, we have

[2015-04-23 16:54] brucemiller commented on #595
i dunno. you need unique ids for math & probably need to specify it, and I can see how --documentid could be reinterpreted to mean that. OTOH, I want the current behaviour as well, an by default.... Have to ponder.

[2015-04-23 16:58] dginev commented on #595
I have a pragmatic suggestion. At the moment, this option is only properly utilized in your DLMF workflow, and I am just starting to think of using it. We are the only 2 users, as far as we know.

However, our workflows are dramatically different, and above we already pinpointed a sharp dividing line - the value of the ```--whatsout``` option. In the classic, document output (which is the only thi

[2015-04-23 17:01] brucemiller commented on #595
sounds too diplomatic...

[2015-04-23 17:04] dginev commented on #595
The more I think about that interpretation, the more I like it!

[2015-04-23 17:07] dginev commented on #595
It has a very nice feeling of "Do What I Mean" to it.

[2015-04-24 11:11] brucemiller commented on #591
I almost missed my opportunity to (legitimately, for once) say "That's not a bug, that's a *feature*!"

[2015-04-24 22:59] dginev commented on #589
The smallest example reproducing the loops is:
[code]

Removing the {axis} environment avoids the loop. So that is a good place to start digging.

[2015-04-28 15:53] dginev commented on #101
Returning to my original suggestion comment at:
https://github.com/brucemiller/LaTeXML/issues/101#issuecomment-35291567

I am now working on a UI for LaTeXML errors in web editing and having a start-end range would be fantastic for the user experience. Many novice LaTeX users feel confused when deciphering the TeX error messages, so they need all the help they can get with making them intuitive.

[2015-04-29 04:29] kohlhase commented on #101
Yes, I could not agree more. We are using the ranges in the error reporting for sTeX. Any progress on this would be very welcome.

[2015-04-29 13:34] brucemiller commented on #101
I agree that this has the potential for a really useful feature, at least for editting automation, if somewhat less for users --- after all, LaTeXML has the same problem as TeX: by the time it knows something is wrong, it's too late to know what went wrong and where.

Also, there is a lot of confusion and complexity that you're overlooking. Firstly, the current locator is simply where the Gullet/M

[2015-04-29 15:14] dginev commented on #101
Sounds tricky but solvable. Thanks a lot for the details, I will take a stab at (efficiently) implementing something this week. It is still much easier than, say, rewriting a core LaTeXML module in C+XS :>

[2015-04-29 15:27] kohlhase commented on #101
I think @m-iancu should know about this as well.

[2015-05-01 02:17] brucemiller commented on #591
Ok, so now we get class ```ltx_th, ltx_th_row, ltx_th_column``` on th elements, depending on whether they've been marked as being row or column headings. Since html5 now allows tfoot to appear at the end of tables, we also wrap any trailing rows containing only th with tfoot, just as leading ones are wrapped in thead.

When LaTeXML has guessed at headings, the table gets class ```ltx_guessed_heade

[2015-05-01 02:17] #591 closed

[2015-05-01 02:18] brucemiller commented on #590
Done! by extracting an almost complete implementation from aas_support.sty.ltxml. Thanks for the suggestion!

[2015-05-01 02:18] #590 closed

[2015-05-01 02:22] dginev commented on #590
Super cool! Thanks, much appreciated.

[2015-05-01 02:24] dginev commented on #591
That sounds perfect! Have you also updated the LaTeXML CSS files?

[2015-05-01 02:27] brucemiller commented on #591
yep, although by default there's no particular styling of headers...

[2015-05-01 02:41] brucemiller commented on #549
Interesting! I just took another look, disabling the check for "maybe a function" and it runs in 1.4 secs!
So that is indeed where the combinatorics comes in. For my application, it's *very* useful to have it detect and warn about such situations. OTOH, for your application, there's nobody there to notice the warning, or even see the possibleFunction attribute!  In spite of the fact that for this

[2015-05-01 10:56] brucemiller commented on #564
I just committed a (nominal) binding of threeparttable.sty. Thanks for the report.

[2015-05-01 10:56] #564 closed

[2015-05-01 11:57] bernhard-kleine commented on #564
Thanks a lot

Bernhard

Von: bruce miller [mailto:notifications@github.com]
Gesendet: Freitag, 1. Mai 2015 12:56
An: brucemiller/LaTeXML
Cc: Bernhard Kleine
Betreff: Re: [LaTeXML] Threeparttable not supported (#564)

Closed #564 <https://github.com/brucemiller/LaTeXML/issues/564> .

—
Reply to this email directly or view it on GitHub <https://github.com/brucemiller/LaTeXML/issues/564#event-2948401

[2015-05-01 12:04] bernhard-kleine commented on #560
I wonder, whether this bug will be resolved in the foreseeable future. In principle as I have evluated it it is a question, which deepness of the tikztree will be accepted. The error for me is that the last two or three levels of deepness are not supported. Since this increase compilation time extremely I would like you to remind of the problem.

[2015-05-01 13:21] brucemiller commented on #560
I guess it depends on the reach of your foresight.

I think you're wrong that the "levels of deepness are supported"; although Perl whines like crazy about the recursion (lots of warnings, but no errors) --- and that *is* something we want to fix or at least further improve --- the compilation does complete, and even produces a nominally correct result. At least correct modulo #550, which certainl

[2015-05-01 13:32] bernhard-kleine commented on #560
It takes hours to compile. That is an issue by itself.

Several thousands of this warnings.

Bernhard

Warning:perl:warn Perl warning

        at C:/Users/bk/Documents/BuchprojektSpringer/XMLtestordner/Chap5/feeding.tex; line 17 col 14

        Deep recursion on subroutine "LaTeXML::Core::Stomach::invokeToken" at d:/latexml/latexml-master/bin/../lib/LaTeXML/Core/Stomach.pm line 80, <$IN> line 17.

[2015-05-01 13:42] brucemiller commented on #560
Yes, 5855 warnings, in fact. However, it only takes slightly over 2 minutes to compile on my, fairly old, system.

[2015-05-01 13:44] bernhard-kleine commented on #560
I have some fifty of that drawing in my book.

On 1. Mai 2015 15:42:27 MESZ, bruce miller <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Mobiltelefon mit Kaiten Mail gesendet.

[2015-05-01 14:27] dginev commented on #560
```only takes slightly over 2 minutes ```

Sadly, my standards are also too high in this regard - I would only use ```only``` for times under 30 seconds (if they we are talking Tikz). For me to be able to offer Tikz graphics to Authorea users, we would need them to finish converting in 30 seconds, which is the upper bound of our requests. Daemonizing is one approach, but in this case it seems the

[2015-05-01 14:31] brucemiller commented on #560
"only" was only in comparison to "hours", not to "desirable"

[2015-05-01 14:32] dginev commented on #560
Ooops, my bad, haven't had my coffee yet.

[2015-05-01 15:32] bernhard-kleine commented on #560
This is also a reminder that there is two problems in acronym:

Conversion complete: 18686 warnings; 2 errors; 2 undefined macros[\acroextra, \AC@acl].

processing finished Fri May  1 17:06:56 2015

and the warnings  are almost completely due to tikztree.

I am however, very thankfull, for latexml.

Kind regards

Bernhard

Von: Deyan Ginev [mailto:notifications@github.com]
Gesendet: Freitag, 1. Ma

[2015-05-01 15:57] brucemiller commented on #560
Well, yeah, the open issue is actually a reminder that acronym needs work.  Funny thing, I was just working on it...

[2015-05-06 17:17] dginev commented on #595
Fun fact: setting ```--documentid``` causes the daemon to reload all preloaded packages on every conversion job. Took me forever to debug and I have now completely backed away from using that option, as I need a speedy daemonized conversion. We should think of refactoring in a way that the documentid is passed in as an option to the ```Core::convert``` sub, instead of setting it as a field in the

[2015-05-08 14:17] dginev opened #606 "Secure IO in LaTeXML"
This issue is a followup from the discussion on my failure to offer a temporary solution at https://github.com/dginev/LaTeXML/commit/0a6a1ec2d0102752c0814cd65a4771ef40bf7f53

Here is a small specification of what I'm trying to achieve:
- Recognize "untrusted" (user-specified) from "trusted" (system) sources
- Disallow any IO operations from any TeX input coming from an "untrusted" source
- Only do

[2015-05-08 14:37] brucemiller opened #607 "I/O security"
A reminder to implement some sort of restrictions on files that can be read (let alone written!) for server applications. This should basically only allow files to be read that sit underneath directories given in a whitelist.  The whitelist would perhaps consist of ```@INC```, whatever kpathsearch allows, and anything added by the ```---paths``` option?

[2015-05-08 14:40] brucemiller commented on #607
see some additional discussion in #605.  I guess when processing a zip file in the server, the whitelist would include the path where the zip was unzipped.  Command line invocation (assuming it even enforced the whitelist), would presumably explicitly include ".", but a server would not.

[2015-05-08 14:58] dginev commented on #606
Oh, you opened a duplicate #607 right after I opened #606. You can choose the one you like more and close the other, up to you.

[2015-05-08 15:00] brucemiller commented on #607
Duplicate of #606. I'll copy the comments there...

[2015-05-08 15:00] #607 closed

[2015-05-08 15:01] brucemiller commented on #606
A reminder to implement some sort of restrictions on files that can be read (let alone written!) for server applications. This should basically only allow files to be read that sit underneath directories given in a whitelist. The whitelist would perhaps consist of @INC, whatever kpathsearch allows, and anything added by the ---paths option? .see some additional discussion in #605. I guess when pro

[2015-05-08 15:29] dginev commented on #606
Here is how my temporary workaround "evolved":
https://github.com/dginev/LaTeXML-Plugin-secureio

It was a bit annoying to setup, but it's there. If anything comes to mind that can be added to that "blacklist" for input macros, let me know. It's off-topic to this issue, but relevant if someone needs a temporary patch.

[2015-05-08 15:39] dginev commented on #606
Also, @brucemiller , whenever you have the feeling I am rushing a pull request without a strong enough reason for LaTeXML-core, please advise me to make a plugin, it's really the right solution for these cases.

[2015-05-09 14:54] brucemiller commented on #551
should be a much more complete implementation now. Thanks for the report (& patience)

[2015-05-09 14:54] #551 closed

[2015-05-09 15:16] brucemiller commented on #606
I'm thinking the above whitelist is probably safe & sane. Provided pathnames are properly canonicallized, it should be easy to test: just match that the path starts with one of the whitelist paths?
There was an issue (or maybe just in email) about canonicalization not dealing with symlinks correctly; can't find it now...

[2015-05-10 19:39] bernhard-kleine commented on #551
I will check it this week and report back.

[2015-05-12 15:19] brucemiller commented on #539
I've implemented this package for the most part (except perhaps creating raster images from the svg). Thanks for the report!

[2015-05-12 15:19] #539 closed

[2015-05-12 21:02] dginev commented on #447
Bruce is telling me that I should record a related problem to this issue:

Currently RDFa metadata recorded on any ltx:XMath node gets completely lost during post-processing to MathML. I would not consider those attributes "foreign", but it is conceivable we may need bits of the same infrastructure for both cases.

[2015-05-13 05:18] kohlhase commented on #447
I very much support this copying to the end result. But while you are at it, we should not forget the OpenMath.

[2015-05-13 06:03] dginev commented on #447
Actually, since you mention OpenMath, would copying RDFa attributes over to OpenMath be as simple as it is with MathML? RDFa is designed to be embeddable in HTML, so it "just works" when added to a MathML formula in an HTML document.

(I am currently looking at RDFa preservation in math during post-processing, which is familiar, but different, to the foreign namespace attributes)

[2015-05-13 08:20] kohlhase commented on #447
I have not checked, but I am quite confident that RDFa attributes can be added to OM.

[2015-05-14 17:09] dginev opened #611 "Support for nameref.sty (needed by hyperref.sty)"
As Authorea has now entered beta testing of LaTeXML, we have started receiving helpful user reports of various issues and missing features. I will be opening LaTeXML issues for those, and will introduce a new "Authorea" label for them, so that I can keep track myself (and give them priority).

This one is quite straightforward: hyperref supports a range of extended referencing macros, ```\nameref`

[2015-05-14 19:48] dginev opened #612 "Document all allowed options in LaTeXML::Common::Config"
To my shock, several options are still undocumented, such as ```--dbfile``` and ```--graphicimages``` in the ```Config.pm``` POD.

I think the reason is that I removed the documentation for any options I had not yet added support for in the joined latexmlc executable. But as I improved on the added support, I forgot to re-add the documentation.

So I should get around to cleaning up the docs soon.

[2015-05-14 19:52] brucemiller commented on #612
Undocumented options!?!?! Tell me it isn't so!!

Of course you know that that's the only way some people can sneak new options in---- by not documenting them! :>

[2015-05-14 20:03] dginev commented on #612
Hahaha :> Well, they are "classic" options from latexml and latexmlpost, just not "yet" documented in latexmlc / Config.pm. I think I documented my newfangled options early (whatsin, whatsout, etc) since I was using them a lot.

[2015-05-15 12:50] fred-wang opened #613 "[regression] No more way to generate pmml + LaTeX annotation"
See the thread on the mailing list http://lists.jacobs-university.de/pipermail/project-latexml/2015-May/002071.html

Basically, in the past presentation MathML + LaTeX annotation was the default. Now, by default only presentation MathML is generated and there is not any option to attach the LaTeX annotation alone.

So I'd suggest to add an option to generate --keeptex so that the user can explicit

[2015-05-15 12:51] fred-wang commented on #579
thanks!

[2015-05-15 13:02] dginev commented on #613
The regression + behaviour change was on something undocumented, so I wouldn't consider it too annoying a problem - if you're using undocumented features, you have no guarantees for stability.

That being said, if presentation MathML + a TeX annotation is a useful output for math for you, we ought to support it (and it ought to be easy).

There actually used to be an option called ```--keepTeX```

[2015-05-15 13:27] fred-wang commented on #613
Well sure, but I was not "using" a feature explicitly but "relying" on the default behavior. AFAIK, the LaTeX documentation does not mention the presence of the altext attribute and, still if LaTeXML suddendly stops generating the altext, you would probably consider this a serious issue to fix... (and if not, then all of this should probably be documented!)

The previous behavior was to always hav

[2015-05-15 13:33] dginev commented on #613
[code]

I share this particular sentiment.

[code]

Sorry, but that's not factually correct. I think you used to have a default LaTeX annotation for some part of 2014 and 2015, but definitely not *always*. On the other hand, the ```alttext``` attribute has been there since at least 2007. But this isn't a constructive discussion to be having, let's figure out how to provide you with the behaviour y

[2015-05-15 13:41] fred-wang commented on #613
note: by "always", I meant "whatever the option you specify" not "LaTeXML has always generated it"

[2015-05-15 13:46] brucemiller commented on #613
I'm not even sure myself that I was aware I'd changed a default behaviour! And in fact, I'd kinda forgotten about the keepTeX option, as well! Things change, hopefully for the better usually, and some bugs are features!

At any rate, I think Fred's point on consistency makes good sense: Reintroduce a keepTeX option, and *only* add an annotation when that option is true (whether or not you are also

[2015-05-15 13:47] dginev commented on #613
Sounds great, let's execute that.

[2015-05-16 00:43] brucemiller commented on #560
Did some more research on recursion: Default perl starts complaining when the same routine is over 100 deep, but you can disable it by strategically placing ```no warnings 'recursion';```.  I've done that, and the warnings are gone.

Didn't affect the speed much at all, however. I rewrote the profiler and got some interesting statistics.  Maximum "call" depth (but that includes macros which don't

[2015-05-16 00:47] brucemiller commented on #611
That's actually in nameref.sty but I can't tell if that's always loaded or only with certain options.

[2015-05-16 12:25] bernhard-kleine commented on #560
where did you put that "no warnings 'recursion'; ". The time it consumes is not so important, but I would like to see the other warnings which are gone as long the recursion fills the screen.

Bernhard

[2015-05-16 12:35] brucemiller commented on #560
I put several of those declarations in key places in the Perl subroutines that will tend to be called in recursively in deep structures. Basically these were the routines that were being reported in the warnings (invokeToken, absorb, reversion...).

[2015-05-16 13:09] bernhard-kleine commented on #560
Without much knowlegde of perl do you think I could do the same?

[2015-05-16 15:07] brucemiller commented on #560
By trial and error, perhaps, but understanding the architecture of the program would be important, as well as Perl.  Why do you ask? Are you seeing other deep recursion issues with LaTeXML?

[2015-05-16 15:31] bernhard-kleine commented on #560
I would like to see the messages on the screen without the recursion warnings. I would be very glad if you would advice how that is possible.

[2015-05-16 15:35] brucemiller commented on #560
I don't understand what you're asking. If you update LaTeXML, there shouldn't be any recursion warnings with the example you gave.

It could be that other examples would, however. If so, please a short tex sample, and the kinds of messages being produced.

[2015-05-16 16:10] dginev commented on #560
529 is quite the call depth. But are the 28 seconds for expandafter really excluding the invocation time for its tokens? It is one of the emptiest macro definitions.

[2015-05-16 19:05] dginev commented on #560
@brucemiller : could you give me an example file and the invocation you are using to profile the expandafter performance? I would love to dig into this a little bit myself and see if I can find some new angle of attack.

[2015-05-16 22:07] brucemiller commented on #560
There could be errors, of course, although I sorted out a bunch. But the 529 is a logical depth of all calls, including macros, primitives and constructors. As if recursive macros were actually recursive. Normally TeX programmers don't even think of the depth of macro calls. And only the non-macro part of that count actually has any correspondence to Perl's call stack.

As far as expandafter is co

[2015-05-17 00:49] dginev commented on #560
I just realized your profiling support is only printed by bin/latexml, I was trying out bin/latexmlc at first. Why not add the ```Core::showProfile``` call to the end of the ```Core::digestFile``` or ```Core::convertDocument``` subroutines? Then it will be auto-used also for latexmlc.

[2015-05-17 01:18] dginev commented on #560
So here is the list of most expensive exclusive macros the profiler returns:
[code]

and frequencies:
[code]

It looks like some of the pgf@math macros are great candidates for Perl bindings, if we're lucky. They are infrequent and very expensive.

At the same time, Tikz will not feel noticeably faster until we make the \expandafter and \def calls much faster. Even if it is reasonable to take 20 s

[2015-05-17 04:12] brucemiller commented on #560
exactly. pgfmath looks like good candidate.  I spent some time getting my pgfkeys stuff working again, that should help.  Be aware that by binding things like keys & math, the number of calls to low-level TeX stuff will be much reduced.

[2015-05-17 12:40] bernhard-kleine commented on #560
Dear all,

with the whole document (some 500 pages) I encounter still some 70 warnings:

Otherwise the document compiles fine. All the errors of acronym and threeparttable gone.

[2015-05-17 22:10] dginev commented on #560
Just for comparison, how long does it take to compile the same document with pdflatex ?

[2015-05-18 07:42] bernhard-kleine commented on #560
About five minutes maximally

On 18. Mai 2015 00:10:06 MESZ, Deyan Ginev <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Mobiltelefon mit Kaiten Mail gesendet.

[2015-05-18 17:52] brucemiller commented on #560
I assume Bernhard is referring to his whole book? Don't know which Deyan was asking about, but the testfile at the top takes only about 0.6 seconds in pdflatex.

As far as the remaining warnings for absorb, that's bothersome. ->absorb is called in quite a few places, and it seems that you can only disable the warning if you do it before the outermost call(??). There's got to be a better strategy..

[2015-05-18 17:55] dginev commented on #560
Thanks, I am collecting various bits and pieces of information regarding LaTeXML's speed, and in particular the contrast with pdflatex, as I am trying to fish out high impact improvements we can make that get us in the pdflatex ballpark. My personal long-term goal is to achieve a 10x slower performance than pdflatex for Tikz with LaTeXML, which seems wildly difficult at the moment, but it's certai

[2015-05-18 23:03] dginev commented on #611
This works out of the box in pdflatex:
[code]

Hyperref auto-loads nameref.sty, and a few others, as can be seen from the log:
[code]

[2015-05-19 13:27] bernhard-kleine commented on #560
I was wrong , the whole book takes only 55 sec to compile.

[2015-05-19 16:27] brucemiller commented on #611
well, yeah: that was my point: we need bindings of nameref, etc, so that those can be loaded by hyperref.

[2015-05-19 16:35] dginev commented on #611
Fair enough.

[2015-05-21 04:39] kohlhase opened #614 "listings and tabular interaction"
The following file
[code]
leads to an error
[code]
while LaTeX works fine.

If I put the ```\\\hline``` in a line of its own, then the error disappears.

[2015-05-23 19:10] brucemiller commented on #589
Nice simple sample! I think the core problem was a broken iffileexists sorta test that didn't load some essential code.  I happened to look into this while I was also in the middle of reworking the pgfkeys binding. This example turned out to exercise some interesting key settings!

I think it's working well now, and gives a non-trivial speedup (tho' not an order of magnitude!) Thanks for the repor

[2015-05-23 19:10] #589 closed

[2015-05-23 19:12] brucemiller commented on #549
OK, I've went ahead & made the "speculative" parsing non-default (you can set MATHPARSER_SPECULATE to have it dig around a bit more).  So, now your example runs fast, but of course, it still is just seen as multiplication.  Thanks for the report.

[2015-05-23 19:12] #549 closed

[2015-05-23 19:15] dginev commented on #589
Nice one! I didn't even know that ```iffileexists`` exists until now :>

[2015-05-23 19:26] brucemiller commented on #589
Well, strictly speaking it was ```\pgfplots@iffileexists```, which is a generic form of LaTeX's ```\IfFileExists```, but my early version mangled it... (```\IfFileExists{file}{truestuff}{falsestuff}``` loads file and executes truestuff, if the file exists, else falsestuff. Handy)

[2015-05-24 15:10] brucemiller commented on #614
Ah, there was some confusion about how ```\end{lstlisting}``` is treated (some verbatim-like environments ignore what follows, some wont even recognize the ending if something follows!)

[2015-05-24 15:10] #614 closed

[2015-05-24 15:12] brucemiller commented on #613
I've just checked in a set of changes that adds a trivial math postprocessor, and only adds the TeX annotation when it's explicitly asked for.  The new option is called ```--mathtex``` which seems slightly more sensible than the old ```--keeptex``` (and I guess I'm stuck with ```--keepXMath``` for historical reasons).

Thanks for raising this issue.

[2015-05-24 15:12] #613 closed

[2015-05-24 15:51] dginev commented on #613
All the more reason for a minor CPAN release, I am also requesting one in #615 . And by that I mean v0.8.1.1

[2015-05-24 16:06] brucemiller commented on #560
I tried putting the no recursion warning at the highest level call to ```->absorb```, in the hopes that it catches all the various scattered calls.  Please give this a try and let me know if that silences the recursion warnings.

BTW: tikz should be running slightly faster now, due to various other updates.

[2015-05-24 19:53] brucemiller commented on #595
very few options other than preload seem like they ought to affect the choice of a daemon to reuse.

[2015-05-24 20:18] dginev commented on #595
Which probably means they shouldn't be fields in the LaTeXML object, but rather arguments for initialization. The way things are now, I need to reinitialize when I make a new LaTeXML object, and I end up making new LaTeXML objects whenever a field is different. Maybe I can improve that code to just set the field value, rather than spawning a new object.

[2015-05-24 20:56] brucemiller commented on #595
Yeah, somewhere in my New Scheme of things would be the idea of a large (harumph) class of options that would essentially just set a State variable.  Many of the kinds of things that are wanting to become latexml.sty options.  Of course, it may be preferable to *not* have separate command line options for them, but something like ```--set=variable:value```.  Of course, they'd still need to be docu

[2015-05-25 11:43] bernhard-kleine opened #616 "warning about indexing see-also"
The following warning appears in the log of latexmlpost:

What do I have to get rid of them?
Bernhard

[2015-05-25 13:04] bernhard-kleine opened #617 "Bib-file not included"
I wonder while the bib file is not found by the following command

[2015-05-25 15:57] dginev opened #618 "Legible timeout error message"
@fred-wang couldn't make heads-or-tails from the timeout Fatal error I had introduced in LaTeXML.pm some time back, and he is a power user.

That is certainly a sign that particular Fatal message needs to be improved in terms of user-facing clarity. And it's not hard to do so, just recording here for bookkeeping. I'll take care of this.

[2015-05-25 16:21] bernhard-kleine commented on #560
This remains:

[2015-05-25 20:01] dginev commented on #617
The latexmlpost --bibliography option expects an ```.xml``` file, that was the result of:

[code]

For this to work seemleesly, I recommend using ```latexmlc``` instead of the separate ```latexml``` and ```latexmlpost``` executables. Then you can do the conversion in a single step.

[2015-05-25 20:01] #617 closed

[2015-05-25 20:14] dginev commented on #457
Coming back to this one (no particular reason, just had a nice idea).

My suggestion/request would be specify an array of formats as so: ```--format=html5,xhtml,epub```.

Important assumption: I am accepting that core processing will be the same for all formats, only post-processing will differ.

Then, in the unified workflow of LaTeXML.pm, there is a single point of entry for setting up all optio

[2015-05-25 20:19] dginev commented on #457
With a little care, this can also be made to work with the several ```--destination``` options that I wrote about in the issue description, as long as we first do the destination extension scanning, to obtain the full range of formats (and similarly filter out irrelevant destination extensions when preparing the options object for a single format)

[2015-05-26 08:53] physikerwelt commented on #549
@brucemiller thank you very much.
@howardcohl Would you update the xsede instance? It would be interesting to see the effect on the DRMF wiki.

[2015-05-26 11:15] brucemiller commented on #560
Just *one* such message, or many?

[2015-05-26 11:29] brucemiller commented on #616
When you use a regular ```\index{some term}```, LaTeXML makes an entry in the index for "some term" and adds a link to the point in the document where the index mark appeared. When you use the ```\index{some term|see{other term}}``` form in LaTeXML, it makes an entry in the index for "some term" which says "See other term", and tries to make a link from "other term" to the actual index entry for "

[2015-05-26 11:29] #616 closed

[2015-05-26 12:52] brucemiller commented on #618
Maybe here's a good place for discussion?  This is timely, as I was just looking into the problem a couple of days ago --- with less success! I'd noticed that under certain (unknown) circumstances, when I'd ctrl-C to kill latexml, I'd get 6!!! (actually only 3 factorial), Fatal errors, which is insane, let alone makes the message unreadable.  I'm not sure exactly how CoreTeX is counting, but I str

[2015-05-26 12:54] dginev commented on #618
Can you suggest an alternative solution so that we compare? I am indeed running the LaTeXML conversion from within an eval{} and would like to see Perl dying cleanly, without extra noise in error reporting. I will read on your link in a bit.

[2015-05-26 12:55] brucemiller commented on #618
Basically in Error.pm, comment out the local assignment at the end of sub Fatal and add a non-local one at the top.

[2015-05-26 12:57] brucemiller commented on #618
I tried wrapping an eval around the conversion but I forgot if it had no effect or broke worse! :<

However, the issue with eval, is that in most cases where you use an explicit eval you do NOT want a "die" to be fatal, and probably not even reported. A call to Fatal within an eval... well that's up for debate.

[2015-05-26 13:02] dginev commented on #618
The entire reason for the outer eval was that Fatal was killing the entire Perl process. I think we should always die on Fatal from withing LaTeXML, just because error-reporting in Perl has this early 90s' feel to it.

[2015-05-26 15:04] bernhard-kleine commented on #560
too many, the log is not seen

[2015-05-26 15:18] dginev commented on #618
What I can't understand is - what will happen if Perl legitimately dies during the conversion? E.g. if executes a method on undef, as we've seen many times.

The current solution is pretty cool, as you capture the die and print out a helpful "Perl died" error message. We should keep that. But only in cases of "real" dies, not in cases of signal handling. So I also like my suggestion.

[2015-05-26 15:28] brucemiller commented on #618
I think that will happen unchanged.In fact, that was the whole point of installing a handler for die! I suppose I'd best concoct a set of test cases.  I'm not sure what you mean by "signal handling"; it isn't always easy to know what a module author was using "die" for. Sometimes it really is that you're stuck, other times they're expecting you to wrap eval around it to catch it.  I also don't kno

[2015-05-26 15:38] dginev commented on #618
I am really confused, sorry. I can't put a finger on your concern. The calls to eval have a return value and a response caught in ```$@``` which can be checked, and the errors propagate up, or out. Perl 5 has a really arcane error-handling mechanism where if you want an exception thrown, you need to die and catch it with eval. It's very crude, but at least they made it a little faster in the newer

[2015-05-26 15:42] dginev commented on #618
Also, a not on code duplication. We now have 3 "servers" that run latexml in batch mode. If I had to write the custom eval{} wrapper in each of them (which may be what you are thinking of here), that would be triple the code.

But I do admit there is some room for cleaning up.

[2015-05-26 15:44] bernhard-kleine commented on #617
I have in the meantime compiled an entire bibliography.

[2015-05-26 15:48] brucemiller commented on #618
I don't know why you need 3 custom eval wrappers unless they're not doing the same thing.  Whether they even need eval or not I can't say at this point, but the current code isn't working correctly, so something has to be worked out.  For one: several fatals signalled for one Fatal is wrong (we have at least 2 proposed solutions :> ) For another, a die within an eval in almost all cases should be

[2015-05-26 16:01] bernhard-kleine opened #620 "Missing imageprocesser"
What do I have do add?

[2015-05-26 16:05] brucemiller commented on #620
It's right there in the error message:
Please install one of: Graphics::Magick,Image::Magick

[2015-05-26 16:05] #620 closed

[2015-05-26 16:12] dginev commented on #618
Did we run out of problems we have that we are starting to solve problems we might have? :>

I still don't understand the concern. We agree that we shouldn't be signaling several times for a single Fatal, and my pull request addressed that for the interrupt and alarm handlers (so that the die is silent, as you suggest). But if Perl really dies (i.e. no signal gets sent in, something just malfuncti

[2015-05-26 16:13] dginev commented on #618
I know you are trying to explain this to me, I just can't grasp it.

[2015-05-26 16:20] HowardCohl commented on #549
Wow. This seems to have really sped things up!

[2015-05-26 16:25] brucemiller commented on #618
Well, actually we *do* already have the problem. Grep eval and you'll find cases where the code is preceded by ```$SIG{__DIE__}=undef```, exactly as a kludge around the current buggy and unpredictable behaviour.

[2015-05-26 16:29] HowardCohl commented on #549
For a demo, have a look at:
http://drmf.wmflabs.org/wiki/Big_Page
Then navigate to:
http://drmf.wmflabs.org/wiki/Big_Page?action=purge&mathpurge=true
to clear the cache, then clear the cache then reload the page.
(Note that sometimes clearing the cache causes the server time timeout, just then reload the page to see how quickly everything is rendered.)

[2015-05-26 16:33] brucemiller commented on #618
The way I see it:
* die should normally cause a Fatal
* die within an eval should be silent and not increment any error counters.  This gives you the option outside of the eval of handling the error in whatever way is appropriate; trying alternatives, or giving a more informative message.
* a Fatal normally is, well, Fatal
* a Fatal within an eval... well, I can see this both ways.  Part of me say

[2015-05-26 17:23] bernhard-kleine commented on #539
I can now compile the whole document with a few warnings. latexml and latexmlpost, but the svg are missing. Can we investigate?

[2015-05-26 23:11] dginev commented on #618
I think I understand a little better now.

The File is a fancy equivalent of die, but it is also a LaTeXML-created error; I think any Fatal in LaTeXML should always carry the semantics of "the processing experienced a Fatal error!" and hence should always terminate the conversion process.

In other words, I don't think Fatal should ever be quiet; it should always be noisy.

So, that being said, I

[2015-05-26 23:12] dginev commented on #618
And this is exactly what we are doing now too. So maybe I am still missing your point.

[2015-05-26 23:55] brucemiller commented on #618
Unfortunately, Fatal can't kill the process unless it sends it a kill signal or something. And that's probably not what you want anyway. In fact, after experimenting a bit, I'm convinced that it really is just a fancy die.  If you put an outer eval, you *expect* to have to handle whatever die/Fatal happened inside.  And moreover, it isn't clear whether the message is due to a die or Fatal, so you'

[2015-05-26 23:56] dginev commented on #618
Sounds great!

[2015-05-27 18:06] dginev commented on #618
Btw you were also completely correct that improving these error messages will make the CorTeX error reporting a lot nicer.

[2015-05-27 18:25] dginev commented on #611
Documentation: http://www.tex.ac.uk/tex-archive/macros/latex/contrib/hyperref/nameref.pdf

Taking a stab at it now.

[2015-05-27 18:27] brucemiller commented on #611
Not having looked deeply, you might want to be leveraging the stuff hidden away in Post::CrossRef.  The "show" attribute is a mysteriously undocumented encoding of how a reference should be filled-in.  I think there's ways to have it say, eg. "Section 1.1.1" instead of "1.1.1" and so on...

[2015-05-27 18:38] dginev commented on #611
Works like a charm! I was already snooping there since ```\autoref``` gave me hints and I had just recently been poking around CrossRef (you remember the "weird" PRs).

The only interesting bit before I send you a basic PR (with a test!) is why the "title" field in CrossRef includes the number of the table of contents. For example it gives me "1 Introduction" and "2 Motivation", where I was expect

[2015-05-27 19:57] dginev commented on #611
Btw autoref seems to be broken too, I applied a fix, but the "type refnum" specification for the show attribute of ltx:ref seems to only produce a number in my tests. Will check if frefnum is set properly...

[2015-05-28 02:14] brucemiller commented on #618
I've checked in a rewrite that I think behaves more consistently and like I expect. And I *think* keeps latexmlc behaving the way you (@dginev) expect.

I'm treating Fatal as a fancy die, so Fatal within an eval does *not* increment the Fatal counter; thus a bit more duplicated code in LaTeXML.pm & latexml (which now wraps an eval, so that it can consistently both report errors, and exit status li

[2015-05-28 15:35] dginev commented on #611
Right, so here is the actual ObjectDB::Entry for the citation entry I am looking at:
[code]

Note that the title field also includes the numbered tag. Which is great, it's useful information. But it's also redundant with the "refnum" and would require me to have a new field for the "show" attribute, e.g. "rawtitle" or "plaintitle", where I can specify that I don't want the tag copied in the filled

[2015-05-28 15:37] dginev commented on #611
Also, the reason that nameref was simple is that all the infrastructure was already in place with hyperref and CrossRef properly implemented. Really nice setup, made the binding work very easy. Thanks a bunch!!

[2015-05-28 15:53] brucemiller commented on #611
Thanks for the complement! But conversely, the problem you're having is that this cool "show" feature was & is kinda adhoc, and always treated with expediency in mind, and less good planning.

I think your first intuition, that "title" should just be title is probably more correct than latter.  I'd have to dig into the code, but I suspect that just saying title was an attempt at brevity, or an att

[2015-05-28 15:56] dginev commented on #611
Ok, I think that is a good take on affairs, since LaTeX is also not including the tag numbers when you ask it for title. I will do a bit of hunting for existing cases where the title is leveraged.

I'm also a little confused by the use of "typerefnum" without a space. Let me see if I can adequately clean this up, then I will send a PR.

One should probably start with this line in CrossRef:
[code]

[2015-05-28 16:10] dginev commented on #611
Huh, actually grepping for "show=" doesn't find any instance of "title" except the one I just added via nameref. Was this never used, or am I going blind?

[2015-05-28 16:38] dginev commented on #611
So, jotting down notes as I go along:
 * The ObjectDB entry is the actual <title> element corresponding to the labeled structure. I think that is good behaviour that should stay as-is.
 * The CrossRef module has an expectation for the title to be an XML element, which currently gets cloned into an array of ```@stuff``` to show for each citation entry.
 * It is common to observe comments of the sha

[2015-05-28 16:46] dginev commented on #611
There is also "Post::Scan::cleanNode", where we could check if we are looking at a "title" node and pluck out the tag before we store it in the DB. That would be a change in a single routine that would propagate to any use of "title" in CrossRef and beyond.

I think I like this idea most for now.

[2015-05-28 16:48] brucemiller commented on #611
Actually, there's a ```$doc->trimChildNodes($node)``` that does what I think you're looking for.

[2015-05-28 16:57] dginev commented on #611
Perfect, that's the one. Polishing a few bits and will file a PR in a bit.

[2015-05-28 17:53] dginev commented on #611
PR is here: #621

[2015-05-28 20:17] dginev commented on #618
Looks great to me!

As to the empty eval, here is one relevant read: http://stackoverflow.com/a/7599303/3250284

Apparently there are intricacies, which is why people advocate for using Try::Tiny instead of directly playing with eval{} fire. Hence I always try to be extra careful, the idiom I used in LaTeXML.pm comes from another one of these posts that provide counter-measures.

I'm a bit sad the

[2015-05-28 20:17] #618 closed

[2015-05-28 20:27] dginev commented on #456
Maybe a good start here is migrating the existing ```--format``` handling to a profile-based setup. It may be tricky to do without regressing, so it may also help to add a few tests along the way and make sure both setups pass them.

[2015-05-28 22:43] brucemiller commented on #618
On 05/28/2015 04:17 PM, Deyan Ginev wrote:

OK, I'll have to look into that.

I knew you'd say that! :> Basically, I adopted the handler in withState
for reasons I don't quite know. But I was thinking ahead, that timeout
might as well be generally useful anyway. And the message would recover
the actual timeout value once that value was accessible from State
(somehow).

[2015-05-28 23:26] dginev commented on #618
Btw this reminds me - if we never use the string form of eval we would get a really sweet performance boost. Invoking the string parser + running a compilation pass at runtime is quite brutal.

[2015-05-29 11:59] brucemiller commented on #611
Looks good. I think I should do some comparisons, cause "title" seems to be used in a sneaky way: it ends up as a fallback if the requested pattern can't be filled. There also seem to be "toctitle" and "fulltitle" patterns recognized, if not used.

Wonder if you might be willing to add a few more macros, while you're in the groove.  texscan tells me that ```\Nameref, \Ref, \vnameref``` (and a coup

[2015-05-29 12:13] dginev commented on #611
Will do

[2015-05-30 19:57] brucemiller commented on #566
I think I finally got this sorted out. Origin arguments should work now. Thanks for the report.

[2015-05-30 19:57] #566 closed

[2015-05-30 20:04] dginev commented on #566
The code needed to get this right is somewhat intimidating. Nice fix!

Also, pretty happy that you're closing issues in the 0.8.2 milestone, a new minor release may be on the horizon for mid-fall. Just a cheerleading comment :>

[2015-05-30 20:44] dginev commented on #321
Actually, the generic "more tests" issue is a bit pointless. We should add tests on demand, ideally every bug we fix that is significant enough gets a new test case. But right now my feeling on testing is "we should make LaTeXML's test suite faster" rather than "let's add more". The encoding and Babel tests are particularly slow, and I feel uneasy imagining the speed of potential Tikz tests.

So I

[2015-05-30 20:44] #321 closed

[2015-05-30 20:46] dginev commented on #456
Somehow most of the 0.8.2 issues hit on bits I have worked on. Uh-oh, I should get traction on them soon. I want to get the ```--format``` via profile handling some love and attention this week, that should get a bunch of the ePub-related issues moving forward.

[2015-05-31 05:08] dginev commented on #478
Btw, I am now of the opinion that before we start writing Perl bindings we should understand the failures with the native TeX interpretation and improve LaTeXML to facilitate a clean load (and use) of etoolbox.sty.

Once that works, we can optimize for performance by rewriting the slowest parts in Perl. I would advertise this as a general approach to new bindings we consider supporting, so that we

[2015-06-01 18:03] brucemiller opened #622 "Make --includestyles the default"
Eventually, we ought to just attempt to read any and all tex, sty and (to some extent) even cls files. Gradually our infrastructure gets better and we might succeed more often than not. It seems that the lack of reading such style files, especially local user macros, confuses some users who don't see (or interpret) the --includestyles option.

Certainly most user macro files would be sensible, sin

[2015-06-01 18:05] dginev commented on #622
Some time back we had a brief discussion in this direction and I think we all supported this as the logical way forward. I am also much in favour of including raw TeX styles by default, and even completely removing the ```--includestyles``` option.

[2015-06-01 18:13] brucemiller commented on #478
Good point.  In fact, I opened a somewhat related issue #622 more related to coverage than performance.

As far as etoolbox is concerned, since it is mainly 'programming', it might just work. The only way to determine is for somebody to write a somewhat comprehensive test document that exercises all or most of the macros, and then compare pdflatex to latexml with --includestyles.  If the compariso

[2015-06-07 19:38] brucemiller commented on #550
I finally found some time to dig a bit deeper into the spec and do some experimentation to try to interpret it.  There were indeed clues in your comment, but the spec is tricky. On the one hand, ```overflow="visible"``` will allow the foreignObject to display outside of the dimensions you give for it. The dimensions are required, however, but since they're not used for positioning and won't clip w

[2015-06-07 19:38] #550 closed

[2015-06-07 19:41] brucemiller commented on #560
I did a bit more probing, and figured out a common situation where Lists cause a lot of nesting; the recursion can be opened up in ```Document->absorb``` for those cases, which seems to eliminate the recursion warnings, for me.

Please ```git pull``` and rerun your document. I suspect the warnings will be gone now.  If not, I'll need a small test case for the figure (I assume it's another, larger,

[2015-06-07 19:47] brucemiller commented on #510
I'll admit that I'm pretty unlikely to work on this myself. However, it sounds like a perfect candidate for a plugin.  And we could claim that once we've sorted out the plugin api, with probably a good example for DOC processing, this might be a simple thing you could assemble yourself. It would probably benefit from a few extra core features, such as what was requested in #524.

[2015-06-08 01:46] brucemiller commented on #524
Is it the case that the sound file you're talking about is never directly mentioned in the TeX source, or the generated html, but only referenced from (I guess) a javascript file that you're attaching?  In that case, there's nothing to change about the generation of html. But what does need to happen is that extra files, that latexml would otherwise know nothing about, need to be copied to the des

[2015-06-08 03:33] cooperstevenson commented on #524
Hi Bruce,

Yes, it is the case that the sound files are mentioned only as an
embedded feature of the SVG. I think this issue may be closed--it is not
in keeping with the LaTeXML philosophy that edge cases like this be
looked for by the system and included in the resulting epub directory
structure.

Warm Regards,

Cooper Stevenson

[2015-06-08 20:36] dginev opened #623 "Acronym definitions in preamble seem broken?"
Minimal example:
[code]

Produces a PDF with a single sentence and the expected acronym behaviour. LaTeXML has two problems:
 1. It eats all the spaces from the acronym body, maybe the second mandatory argument should be Semiverbatim?
 2. It deposits the actual acronym definitions in the final HTML. I am guessing due to the treatment of ```glossaryphrase``` by the XSLT stylesheet.

This report was

[2015-06-09 07:12] bernhard-kleine commented on #550
In the document I compiled today, the text is still not visible. What do I have to do to make it visible?

[2015-06-09 11:44] brucemiller commented on #550
Did you do a ```git pull``, ```perl Makefile.PL``` and then ```make```?

[2015-06-09 12:39] bernhard-kleine commented on #544
I have built a testcase, and it turns out it is a problem of the browser: when you open http://b-kleine.com/test/testverxml.html in Chrome the threeparts of svg are displayed: the labeling of the tree and the two figures  while in Firefox nothing is seen. Very strange!

[2015-06-09 12:51] brucemiller commented on #544
I'm seeing height=6 on the foreignObjects.  Isn't that a patch that you had applied to get the labels visible? Perhaps it still is being applied?  I don't think the current LaTeXML does that; should have ```100%```, I think.

[2015-06-09 12:54] bernhard-kleine commented on #544
Yes I manipulated the html to make it visible. 6 is the smallest value to see the labels, no that they are visible it turns out that they are wrongly positioned. Any idea where I can change that?

[2015-06-09 12:55] bernhard-kleine commented on #544
By the way, I am not familiar with "git pull". I use the zip file.

[2015-06-09 13:48] brucemiller commented on #544
I assume you mean a zip file from github? If so, I would assume that it represents the current state of the repository; I've never used it myself.

Regarding you comment about "6".  You have apparently made some changes on your end to get that "6", and maybe some other changes?  You need to remove those changes before we can determine if LaTeXML is doing the right thing.  Using the current LaTeXML

[2015-06-09 14:09] bernhard-kleine commented on #544
The issue is svg figures not showing. I recognized that firefox has a problem and does not show the svg. Obviously the issue is misguiding.

[2015-06-09 14:32] bernhard-kleine opened #624 "Optional parameter of caption is shown."
Caption as well as section etc. have an optional parameter to be used for lists and table of contents. This parameter is shown in the html after latexml and latexmlpost.

[2015-06-09 14:35] bernhard-kleine opened #625 "Caption does not show the figure number"
Using caption a figure number is generated. The figure number is obviouly referenced correctly, but not shown. A testcase is shown in http://b-kleine.com/test/testverxml.html.

[2015-06-09 14:47] dginev commented on #624
Providing minimal examples of your problem always helps the developer team reproduce the issue quicker.

[2015-06-09 14:48] dginev commented on #625
In this case, it would also help to attach the exact TeX source you are converting.

[2015-06-09 15:17] bernhard-kleine commented on #625
I have to analyse that, since a minimal example shows the number.

[2015-06-09 15:22] dginev commented on #625
Wonderful! It is exactly the case that you are in a better position to understand when and where things break, so that we can be much quicker in figuring out how they break and apply a fix.

[2015-06-09 15:27] brucemiller commented on #624
Yes, an example would help greatly, particularly since I can't understand what you're saying is wrong.

[2015-06-09 15:29] brucemiller commented on #625
Again: short example showing the problem is the only way to fix it, since I can't tell from the page you linked to what you *expected* to see.

[2015-06-09 15:32] brucemiller commented on #544
Again: short example source & result. The page you've linked to above was *not* created by an unmodified LaTeXML, so there's really nothing I can do to fix it.

[2015-06-09 15:46] bernhard-kleine commented on #625
The problem is in the following macro which formalizes the \begin{figure}:
\DeclareRobustCommand{\pfigure}[4]%
  {%
    \def\pfigure@graphic{g/#1}% graphic in the directory ./g named #4-crop.pdf
    \def\pfigure@coopt{#2}%        short form of the caption, optional argument
    \def\pfigure@caption{#3}%      caption text
    \def\pfigure@label{fig:#4}%    \label
    \centering\small%
    \includeg

[2015-06-09 16:12] brucemiller commented on #625
What you're calling "formalize" merely manages to completely hide the fact that it has anything to do with a "figure". Since there's no ```graphics``` environment in there, LaTeXML has no way of knowing that you intended it to be a figure.

[2015-06-09 16:12] #625 closed

[2015-06-09 16:17] brucemiller commented on #624
I'm going to assume that this is related to your pfigure macro.

[2015-06-09 16:17] #624 closed

[2015-06-09 16:23] bernhard-kleine commented on #625
It uses \includegraphics.

[2015-06-09 16:26] dginev commented on #625
I guess the slightly longer answer is that LaTeXML is a bit different than pure TeX in the way it deals with numbering figures, so you may not get the expected numbering with very low-level macros.

I don't understand your pfigure macro fully, e.g. I don't see how it hooks into the {figure} numbering scheme, maybe \captionof is something to look into on the LaTeXML side of affairs? Not sure.

[2015-06-09 20:19] brucemiller commented on #625
Indeed, \captionof (from package caption) imitates \caption for a particular type of float. However, it's a bodge that doesn't actually require there to be a figure, table or whatever.  I've fixed up \captionof a little bit so it shows the number, but it still isn't going to show up in list-of-figures or similar.

[2015-06-09 22:15] dginev commented on #625
yuck. But nice to have some support for it!

[2015-06-11 07:13] bernhard-kleine commented on #624
its obviously gone, thank you!

[2015-06-11 07:13] bernhard-kleine commented on #625
Thank you very much!

[2015-06-11 15:51] rplantz opened #626 "`\include{}` does not seem to work in preamble"
My book is written in LaTeX. I produce three versions: PDF, paperback, online (`bob.cs.sonoma.edu`). I used `tex4ht` to create the online version and am now trying to do the same thing with `LaTeXML`. Preliminary results are very encouraging.

The first problem is the way I distinguish between the three versions in my source code. At the beginning of my top-level file in the preamble I have:

[2015-06-11 16:06] brucemiller commented on #626
You're being bitten by LaTeXML trying to be all-things-to-all-people; namely it starts out pretending to be TeX, until it detects something "obviously" LaTeX (or AmSTeX); then it loads LaTeX.pool and tries again.   When you run the real latex (or pdflatex) program, the "pool" is preloaded, so it already knows all those commands.

Maybe ```\include``` should be in that list as well? I didn't add it

[2015-06-11 16:15] dginev commented on #626
Also, it is awesome that you are trying to get your book workflow operational with LaTeXML, keep us in the loop with problems you hit, we really appreciate feedback that helps us make LaTeXML better!

[2015-06-11 16:27] brucemiller commented on #626
Aside: there can be plenty of reasons to conditionalize your source depending on which processor is being used. But LaTeXML ignores the oneside option; I'm surprised if tex4ht lays things out differently with the oneside option (why?).

At some point you may want to look at latexml.sty which provides (among other things) an ```\iflatexml```.

[2015-06-11 18:50] #623 closed

[2015-06-11 19:07] dginev commented on #461
From what Bruce tells me, he is currently working on a Resource-management framework for LaTeXML, which will do proper bookkeeping of files. So re-assigning to him for now. Once we get to the ePub specifics, I can grab this back.

[2015-06-11 20:50] rplantz commented on #626
Bruce, thank you, the --preload=LaTeX.pool worked. And you're right, \input
is more appropriate than \include in this case.

Deyan, I'm very happy to keep you in the loop. Although I got tex4ht to do
the job for me, so far it looks like LaTeXML will do better. And I have to
confess that the design philosophy of LaTeXML is much more appealing to me.
I probably would have used LaTeXML to begin with,

[2015-06-11 21:45] dginev commented on #626
So, in the interest of order, I suggest you open new issues for the other problems you encounter. We can either close here with "worksforme" or ensure that ```\include``` triggers LaTeX mode in LaTeXML. I will let Bruce decide.

[2015-06-11 21:57] brucemiller commented on #626
Yeah, the more I think about it include isn't really a normal thing to expect before the documenttype; I'm surprised it even works.  I think that using ```\input``` would probably work without the ```--preload```.

And yes: please file a separate issue on the svg.  I suspect you're using svgpath, and it hasn't been implemented.

[2015-06-11 21:57] #626 closed

[2015-06-11 22:09] dginev commented on #611
Almost done here, but ```\Nameref``` is using ```\pageref``` to say stuff like ```on page 3```. Since LaTeXML's ```\pageref``` returns the label of the current block instead (from what I can tell), wondering if that won't get confusing.

[2015-06-11 22:17] brucemiller commented on #611
On 06/11/2015 06:09 PM, Deyan Ginev wrote:

Returns the label?  ```\pageref``` is defined to be identical to ```\ref```,
so there wont be any reference to "page" or the label, unless it isn't
defined,
but it will be a link to the thing that was labeled (typically using the
reference number).  What would you want
it to do? Maybe the reference number of the containing html page (after
split)?

[2015-06-11 22:22] dginev commented on #611
Maybe? But what if we don't split? I was thinking of using ```\autoref``` as in ``` on \autoref{#1}``` which would be a sensible HTML-equivalent of "page X"

[2015-06-11 22:33] brucemiller commented on #611
On 06/11/2015 06:22 PM, Deyan Ginev wrote:

Then you get the top-level page.

sure, if you think some other show="..." is more appropriate, go for it.

[2015-06-11 22:34] dginev commented on #611
Except that I got stuck with a ```show="type refnum"``` only showing me the refnum. Pretty sure it's a CrossRef bug, fishing now.

[2015-06-11 22:36] rplantz opened #628 "Path to svg figures"
I am using svg for my figures:

    \usepackage{svg}
        \setsvg{inkscape=inkscape -z -D}
        \setsvg{svgpath=book_figs/}

To use my figure `subsystems.svg` for pdflatex I need to do:

    \includesvg[width=\textwidth]{subsystems}

but for LaTeXML I need to explicitly specify the path:

    \includesvg[width=\textwidth]{book_figs/subsystems}

[2015-06-11 22:37] dginev commented on #611
This guy keeps erasing my ```type```. Kind of annoying:
https://github.com/brucemiller/LaTeXML/blob/master/lib/LaTeXML/Post/CrossRef.pm#L331

Any recommendation of how you'd like me to circumvent that?

[2015-06-11 22:42] brucemiller commented on #611
On 06/11/2015 06:37 PM, Deyan Ginev wrote:

Probably by removing it.

Maybe that's a leftover from some defaults?

[2015-06-11 22:43] dginev commented on #611
Well, the author who put it in there left a comment:
[code]

If that makes no sense any longer, it's probably safe to get rid of it.

[2015-06-11 22:51] brucemiller commented on #611
On 06/11/2015 06:43 PM, Deyan Ginev wrote:

That's what's trickier to tell. The default show (ref_show) says either
typerefnum or title.  So, maybe it should be just refnum instead of
typerefnum?
Since you wanted to be able to get title without refnum, we need to sort
through
all these uses to see where they're used explicitly, which ones default,
whether
the default is sane, etc.

[2015-06-11 22:51] dginev commented on #611
So, removing that bit of code got the right show, but the clause that deals with "type refnum" just tries to copy the "frefnum" attribute, falling back to "refnum". In the example I have, there is no frefnum set on the entry, which looks like:
[code]

Wondering how come the ```frefnum``` wasn't set.

[2015-06-11 22:55] dginev commented on #611
Actually, none of the entries have a ```frefnum``` set.

[2015-06-11 23:01] dginev commented on #611
Apparently there is no ```\fnum@type``` equivalent for sections, subsections, etc. which is why this fails. I have to run now, but this is definitely close to figuring out why section-level headings don't have frefnums.

[2015-06-11 23:06] brucemiller commented on #611
On 06/11/2015 07:01 PM, Deyan Ginev wrote:

Well, frefnum is supposed to mean "formatted refnum", and is quite
possibly obsolete.  I have a long-standing wish to get rid of a bunch
of those refnum attributes and use <ltx:tag> exclusively.

Of course, with your request for "title" meaning "title", you've opened
a can of worms; probably one that needed opening, but still. I think the
path we're on i

[2015-06-12 03:10] dginev commented on #611
Sounds like we need a slew of new tests that deal entirely with 1) ref-related and 2) CrossRef post-processing sanity.

Since I can not really guess on my own where the implications will be, as we discussed a bit earlier in this thread, there are some custom considerations already in the code that are a bit puzzling to understand.

If you can write down TeX examples that come to mind, we can colle

[2015-06-12 17:27] rplantz commented on #628
I have played with this some more. I personally prefer explicitly stating the location of each graphic file in the `\includesvg{}` command rather than setting a global path. I see now why the `svg` package does it; it creates other files for inclusion in the pdf result.

In my particular case, circuit_macros produce a file of TeX commands, which produce great results in the pdf result. Circuit_mac

[2015-06-14 15:38] rplantz opened #629 "General list environment is incomplete"
The `list` environment is incomplete. The following (from my source file `general_list.tex`) produces only a bulleted list, not a numbered (using the counter) one:

    %% ~$ latexmlc --destination=general_list.xml --format=XML general_list.tex
    %% ~$ latexmlpost --destination=general_list.html general_list.xml

    \documentclass{book}
    \newcounter{exer}

    \begin{document}

    \begin{li

[2015-06-14 15:49] dginev commented on #480
I'll bump this back to 0.8.3, can wait to the next release.

[2015-06-16 10:52] kohlhase opened #630 "should --includestyles also include classes?"
What if I just want to read a class file ```foo.cls```? I have to make a ```foo.cls.ltxml``` with
[code]
```foo.cls``` might something that just adapts ```article.cls``` minimally.

[2015-06-16 11:42] kohlhase commented on #622
(see also #630) If we do this, then we should also have some good way to making partial bindings that read the style file and then overdefine the macros we want to have semantic.

[2015-06-16 11:50] brucemiller commented on #630
Hmm... it doesn't currently include classes, does it.  Probably wants to, although I think classes still may need some special treatment (see #622).  For example, some, but not all, cls files include a base article class; some just do it all from scratch.  But we'd want to include at least article or OmniBus class.

OTOH, your suggestion above is probably the only way to get full control, to be su

[2015-06-16 11:57] kohlhase commented on #630
Indeed, we need something like omnibus for the from-scratch case. But that does not seem to be a very common case. I would probably just issue a warning of the form
[code]

[2015-06-16 12:04] brucemiller commented on #630
Yep, makes sense. A catch is that we wouldn't know until *after* the .cls was read that it hadn't loaded any .cls.ltxml file.  I'm wondering if it's too late? OTOH, we don't want to assume article over report or book as base classes, if the .cls actually does read one of them!

[2015-06-16 12:08] kohlhase commented on #630
You could just rig ```LoadClass``` to set a flag, and if this is unset at the end, you could generate the warning.

[2015-06-16 12:08] kohlhase commented on #630
If that is before the fatals that will certainly come.

[2015-06-18 21:01] brucemiller commented on #611
I'm bumping into some troubles, and maybe you were right initially in suggesting that "rawtitle" could be the title w/o number, rather than messing with title. In the current arrangement, ltx:title ends up containing the ltx:tag containing possibly the type, and refnum; ltx:toctitle is similar but ends up containing shorter forms of type & refnum.  That stuff can be filled in by macros in certain

[2015-06-18 21:11] dginev commented on #611
I certainly agree with having each individual component as its own field, we can always build up the compounds.

What is "rawtoctitle"? I am aware of the heading text, which I was thinking of as "rawtitle", the type of heading in "type" and the number in the document, which is in "refnum". That's all I understand so far.

[2015-06-18 21:22] brucemiller commented on #611
Maybe misunderstood: It isn't actually that easy to re-construct the table of contents form from the components, since the way the number was formatted, and possibly a type prepended, was done by macros, and is different in the regular title and the "toctitle"  If you write "refnum toctitle", you don't necessarily get what latex would have put in the TOC!  In LaTeX all this junk gets generated by

[2015-06-18 21:26] dginev commented on #611
I get it now! Yes, we clearly want both rawtitle and rawtoctitle then. Thanks a lot for the tutorial.

[2015-06-23 15:19] rplantz opened #631 "Extra space in equation split environment"
Two minor issues:

1. The ``split`` environment inserts too much space to the left of the ``=`` sign.
2. Using ``\texttt{}`` for a subscripted number inserts space between the number and the subscript.

The second issue may fall outside the goals of LaTeXML. My book is about assembly language programming, and I like to use a monospaced font for binary, octal, and hex numbers. This is more of a dis

[2015-06-25 19:54] ghost opened #632 "picture environment supported?"
Is the `picture` environment supported? In the following code the text is not aligned properly with the graphics. Furthermore, changing the font size in my browser affects this alignment.

[code]

I'm finding that `png` graphics work best for my application. Most of my figures are circuit diagrams, where the alignment of text relative to the drawing is crucial. I wanted to use `svg`, but then the

[2015-06-25 20:04] dginev commented on #632
Seems to mostly work when I try it in the editor [here](latexml.mathweb.org/editor?tex=%25%25%20latexmlc%20--destination%3Dpicture.xml%20--format%3DXML%20--preload%3DLaTeX.pool%20picture.tex%0A%25%25%20latexmlpost%20--destination%3Dpicture.html%20picture.xml%0A%0A%5Cdocumentclass%7Barticle%7D%0A%5Cusepackage%7Bgraphicx%7D%0A%0A%5Cbegin%7Bdocument%7D%0AFigure%20%5Cref%7Bfg%3Akmap2%7D%20shows%20how%

[2015-06-25 20:40] rplantz commented on #632
The 2x2 grid is shifted one square to the left relative to the text. I've
attached a pdf showing what it's supposed to look like.

--Bob

On Thu, Jun 25, 2015 at 1:04 PM, Deyan Ginev <notifications@github.com>
wrote:

[2015-06-25 20:41] dginev commented on #632
If you attach a PDF to an email it won't upload to GitHub, however. But thanks for pointing out the discrepancies!

[2015-06-25 21:11] rplantz commented on #632
Here's a png picture of what it's supposed to look like:
![picture](https://cloud.githubusercontent.com/assets/4309069/8365731/0ed1d3e2-1b44-11e5-89f4-d786ffae6eb2.png)

[2015-06-25 21:19] dginev commented on #632
Awesome, we'll check it out!

[2015-06-26 16:21] brucemiller commented on #611
Just pushed a commit that fixed up title, etc to be more predictable (I hope), but also added rawtitle and rawtoctitle; so you'll need to update your nameref binding.

[2015-06-26 16:33] dginev commented on #611
Thanks! How about adding some tests for the cases you just covered? I will build more tests for the nameref-related ones.

[2015-06-26 16:34] dginev commented on #611
(I say this since I fear regressions)

[2015-06-26 16:36] brucemiller commented on #611
Good point. I definitely want that. But since "unit" tests are slowish, I wanted to add a single ref test that would probably exercise regular latex, hyperref, nameref, possibly even latexml variations on this theme.  And, since the effect only shows up in postprocessing, it'd want to be a daemon test, I suppose.  (Which is just an additional hurdle for me to set one up).  At any rate, I was kinda

[2015-06-26 16:41] dginev commented on #611
Suddenly I find myself holding a hot potato. What a curious burning sensation :> I'll get to it soon.

[2015-07-02 12:52] brucemiller commented on #632
nominally supported yes, but apparently not so well in this case.  Will have to look into it.

[2015-07-02 13:27] brucemiller commented on #631
Ouch, these both are areas that have given me trouble in the past, so I'll have to be careful to fix 'this' without breaking 'that'.

Your styling is up to you, of course, but I assume you know that the usual fonts are fixed-width for numbers. Still, it would be normal to use ```\mathtt``` in math, rather than ```\texttt```.

[2015-07-03 02:44] drogeek commented on #200
I'm interested by this suggestion.

[2015-07-06 19:58] dginev commented on #480
Since we got to discuss this a little bit in a recent email thread, one idea to keep in mind is trying out a different submersion path, where instead of XS+C we use FFI+Rust, as described in this nice blog post:
http://paul.woolcock.us/posts/rust-perl-julia-ffi.html

I am expecting that this path may be a lot cleaner, but I am unsure whether FFI isn't even more expensive to call through. There are

[2015-07-06 20:02] dginev commented on #480
Speaking of FFI vs XS, I found an interesting benchmark, followed by an interesting comment thread, pointing out the benefits of the cutely-named FFI::Platypus:
https://gist.github.com/calid/17df5bcfb81c83786d6f

[2015-07-07 10:04] HansOlsson opened #635 "Make svg for equations slightly larger"
The current svgs generated from equations seem to cause clipping at the boundary for browsers (such as Chrome, Internet Explorer) - there was previously a similar issue for svg generated from pictures.

[code]

It seems it is generated from dvisvgm and you can then use something like --bbox=1pt to enlarge the clipping box.

[2015-07-09 14:46] brucemiller commented on #635
I'm not seeing the clipping (yet), but my simple test case showed chinese instead of greek!! Maybe there's more to getting dvisvgm to work than I though! :<

But your patch sounds sensible and I'll include that when I get the greek sorted out! Thanks.

[2015-07-09 14:49] dginev commented on #635
```my simple test case showed chinese instead of greek```

Well Greece is potentially about to default very soon, so I guess tools are adapting to more stable output formats.

[2015-07-09 14:57] brucemiller commented on #635
On 07/09/2015 10:49 AM, Deyan Ginev wrote:

Right you are: It's a feature, not a bug!

[2015-07-10 14:15] brucemiller commented on #635
I suspect most of our SVG sizing problems are due to LaTeXML's bad font metrics, but conceivably dvipsvgm could have similar issues. I've changed the ```-box=min``` to ```-box=1pt``` as you suggested, just to give a little more margin for error.

I also "fixed" the chinese greek problem by adding the ```--no-fonts``` option, which keeps it from trying to create SVG fonts(?) which don't seem well s

[2015-07-10 14:15] #635 closed

[2015-07-10 14:19] HansOlsson commented on #635
Excellent, and quickly done. Thanks a lot.

[2015-07-13 07:05] ywcdiao opened #641 "use package mhchem to convert chemical formulae"
When I use option '--includestyles' to include package "mhchem.sty" and other required packages to convert chemical formulae. It occurs a fatal problem "Fatal:misdefined:# The token T_PARAM[#] should never reach Stomach!" in the package "expl3.sty"(which is required in the package "mhchem.sty") line 105 col 53. I suppose if there is any way to solve it?

[2015-07-17 20:14] #560 closed

[2015-07-20 17:43] brucemiller commented on #631
I think I've gotten both of these issues taken care of.  Thanks for the report.

[2015-07-20 17:43] #631 closed

[2015-07-22 16:47] brucemiller commented on #629
I think it should work now; Thanks for the report!

[2015-07-22 16:47] #629 closed

[2015-07-22 16:47] brucemiller commented on #502
Itemsep is now preserved. Thanks for the report!

[2015-07-22 16:47] #502 closed

[2015-07-22 17:11] dginev commented on #502
Awesome news! Thanks for the enhancement!

[2015-07-22 18:35] fred-wang opened #643 "Add support for the \prescript command (mathtools package)"
Testcase from http://ctan.org/pkg/mathtools:

      \documentclass{article}
      \usepackage{amsmath,mathtools}
      \begin{document}
      \[
        {}^{4}_{12}\mathbf{C}^{5+}_{2} \quad
        \prescript{14}{2}{\mathbf{C}}^{5+}_{2} \quad
        \prescript{4}{12}{\mathbf{C}}^{5+}_{2} \quad
        \prescript{14}{}{\mathbf{C}}^{5+}_{2} \quad
        \prescript{}{2}{\mathbf{C}}^{5+}_{2}
      \

[2015-07-24 13:33] kpj commented on #643
An unfinished binding for mathtools is currently available [here](https://github.com/kpj/LaTeXML_Bindings_WIP/blob/master/bindings/mathtools.sty.ltxml).

`\prescript` should be supported already.

[2015-07-24 14:02] fred-wang commented on #611
I recently fall on this issue (IIRC, hyperref used to not generate any error for missing nameref)

[2015-07-27 22:17] dginev opened #644 "Support for \@curtab"
@brucemiller are you familiar with ```\@curtab``` and how hard would you think it is to add to LaTeXML?

I have a very cool example to motivate this issue with, ideal for interns that want to do something "exciting" and small:

This is a prime number generator in LaTeX I found on [StackOverflow](http://tex.stackexchange.com/questions/134305/how-to-produce-a-list-of-prime-numbers-in-latex). It seem

[2015-07-27 23:42] brucemiller commented on #644
On 07/27/2015 06:17 PM, Deyan Ginev wrote:

\@curtab is just a counter; the mystery is how it gets set in latex.
I think in your code below, it's just used by \primes as an upper limit(?)

Actually, it runs, but needs \@curtab, \count@ defined as counters,
and the \loop macro (that's in TeX.pool) doesn't seem correct...
at least it's not quite the same as latex.ltx's \loop.

[2015-07-28 13:53] dginev commented on #644
@brucemiller thanks for the explanation! Sounds like with a little work we can have the example fully working, right?

@kpj and @lkohlhase if you feel like having fun - feel free to take a look.

[2015-07-28 16:09] brucemiller commented on #644
On 07/28/2015 09:53 AM, Deyan Ginev wrote:

The TeX & LaTeX definitions are subtly different and in fact
the TeX one fails in pdflatex with \next undefined just as latexml does!
I hate to admit that on a cursory look, I can't figure out why!!!

The trivial, and apparently correct, solution would be to copy
LaTeX's \loop defn into LaTeX.pool.  And probably useful would
be to use tools/texscan to fi

[2015-08-03 13:51] brucemiller commented on #492
finally fixed! (Thanks to Ross Moore for a clever simpler solution)

[2015-08-03 13:51] #492 closed

[2015-08-03 17:53] dginev commented on #591
Just to finalize the discussion here - the "th" bold was provided by my own LaTeXML-external CSS, as we consider it a rule of thumb to have table headers bold. I added a special rule:
[code]

to avoid the bold effect inside table bodies. I'm wondering whether you shouldn't be using ```td``` elements instead of ```th``` inside table bodies, and then specify them using the classes. But one way or an

[2015-08-06 16:06] dginev commented on #644
With Lukas' newest PR this is working like a charm!

Have a look:
latexml.mathweb.org/editor?tex=%5Cdocumentclass%7Barticle%7D%0A%0A%5Cmakeatletter%0A%5Cdef%5Cprimes%231%232%7B%7B%25%0A%20%20%5Cdef%5Ccomma%7B%5Cdef%5Ccomma%7B%2C%20%7D%7D%25%0A%20%20%5Ccount%40%5C%40ne%5C%40tempcntb%232%5Crelax%5C%40curtab%231%5Crelax%0A%20%20%5C%40primes%7D%7D%0A%5Cdef%5C%40primes%7B%5Cloop%5Cadvance%5Ccount%40%5C

[2015-08-06 16:06] #644 closed

[2015-08-06 16:07] dginev commented on #644
P.S. I am still amazed this TeX program works!

[2015-08-15 15:10] gpetty opened #649 "mathsvg option not working in 0.8.1 ?"
I just processed a 200+ page book  using the following commands:

latexml --destination=book.xml book.tex
latexmlpost --format=xhtml --mathsvg --destination=book.xhtml book.xml

Both operations completed, but during the latexmlpost phase, there were many, many warnings of the form
"Couldn't find image for 'LaTeXML::Post::MathImages::svg:/begin....'

When I inspect the resulting XHTML file, which i

[2015-08-15 17:17] brucemiller commented on #649
On 08/15/2015 11:10 AM, gpetty wrote:

Yes, you need dvisvgm to convert the math to svg.
If it isn't present, you should have had an error message
before all the warnings about missing images.

[2015-08-15 17:58] gpetty commented on #649
Thanks, I just checked, and dvisvgm is present.  I re-ran latexml and latexmlpost again (same options as above) and captured the diagnostic output.  It shows some errors, but to my untrained eye, they don't seem related to dvisvgm:

https://dl.dropboxusercontent.com/u/1653737/latexml_log.txt  (latexml logged output)
https://dl.dropboxusercontent.com/u/1653737/latexmlpost_log.txt (latexmlpost logge

[2015-08-15 18:01] dginev commented on #649
[code]

[2015-08-15 18:12] gpetty commented on #649
Re-ran with --verbose; here's the revised output:
https://dl.dropboxusercontent.com/u/1653737/latexmlpost_log.txt

There's now a reference to the following log file:
https://dl.dropboxusercontent.com/u/1653737/ltxmlimg_log.txt

Again, there are errors, but I don't know whether they're related.

[2015-08-15 18:47] brucemiller commented on #649
On 08/15/2015 02:12 PM, gpetty wrote:

Ah, yes; there was a mistranslation of spacing into \hskip{dim}
instead of \hskip dim which causes this.  It's been fixed
in the repository.

Unfortunately, there's not really a sensible workaround
other than to fetch the development version of LaTeXML from
github, or wait for the next release (in about a month?).

Thanks for the report and sorry for the inco

[2015-08-15 18:48] #649 closed

[2015-08-15 20:35] gpetty commented on #649
Thanks, Bruce.  I just downloaded the distribution from github, and it seemingly eliminated the \hskip errors, but otherwise the outcome is indistinguishable from before.

Here are links to the latest diagnostics:

https://dl.dropboxusercontent.com/u/1653737/latexml_log.txt
https://dl.dropboxusercontent.com/u/1653737/latexmlpost_log.txt
https://dl.dropboxusercontent.com/u/1653737/ltxmlimg.log

  G

[2015-08-15 21:47] gpetty opened #650 "mathsvg problem still exists with latest github distribution"
Since Bruce closed the issue I opened earlier today, I wasn't sure whether my followup comment in that thread would get read, so I'm reopening as a new issue here (apologies if that wasn't necessary).  See https://github.com/brucemiller/LaTeXML/issues/649 for the details.  Bottom line: even with the latest distribution from github, the mathsvg option isn't working for me.  Diagnostic output is her

[2015-08-15 21:50] dginev commented on #650
There are 2 identical error messages remaining, Bruce probably knows more details about them:
[code]

[2015-08-15 21:57] gpetty commented on #650
Could a localized macro error in just two equations prevent SVG output for the hundreds of other equations in the document?

[2015-08-15 22:00] dginev commented on #650
I think if the shell call to latex fails, as it does:
[code]

It short-circuits the image extraction logic, so 0 images get extracted. Of course, this is more of an educated guess than a definitive statement. I would expect fixing the last error will get all images up and running.

[2015-08-15 22:19] gpetty commented on #650
I'd be happy to provide the full document source if it would be useful in debugging.  It's a published textbook with considerable math,  http://www.amazon.com/First-Course-Atmospheric-Numerical-Modeling/dp/0972903348/

[2015-08-15 22:26] dginev commented on #650
Well, this is probably simple enough to get right. To me it naively looks as if we need to add a ```\makeatletter``` in the right place, but I really want to understand what that ```\inner@par``` is doing in the middle of that equation.

We should wait for Bruce to take a look.

[2015-08-15 22:41] gpetty opened #651 "how does one override the default DPI value for graphics -> png ?"
I have been unable to track down any online information relating to the setting of the DPI value for the conversion of included figures from PDF to PNG in latexmlpost.  Browsing the Graphics.pm file, it appears that it should be possible to set an option that overrides the value of 92 that is assumed by default but, not being a Perl programmer, I can't tell where or how that option would be suppli

[2015-08-16 02:42] gpetty commented on #650
I apparently spoke too soon.  I just found a directory 'mi/' full of .svg files, and I see now that they're apparently linked in as altimg objects for the MathML codes that I saw when I browsed one of the files.

Apologies for overlooking this!

[2015-08-16 08:31] fred-wang opened #652 "RFE: Provide a LaTeXML-maybeAltimg.js script"
In LaTeXML/lib/LaTeXML/resources/javascript/ we have a script to optionally run MathJax.

@gpetty mentioned that the SVG images generated by the --mathsvg options are linked as altimg image. I guess there are options to generate PNG fallback too.

So I propose to have a LaTeXML-maybeAltimg.js script to optionally convert all the math tags into img tags with the math@altimg as the img@src attribute

[2015-08-16 09:01] fred-wang commented on #652
(I'll try & work on that)

[2015-08-16 10:03] fred-wang opened #655 "RFE: Provide a LaTeXML-maybeCSS.js script"
Same as maybeMathJax but instead of inserting a script tag it does

[code]

[2015-08-16 12:02] brucemiller commented on #652
Cool! Actually, I'd been talking to @dginev about setting up something similar, but going a bit further. My idea was to generate & serve MathML with both an svg & png annotations (presumably the latter would be set as the altimg?).  Then use feature detection to select (1) MathML (essentially only real Gecko's), (2) svg image, if supported, and finally (3) png image.  Perhaps it could automaticall

[2015-08-16 12:27] fred-wang commented on #652
I think we had discussions in the past about the "right" way to propose the image fallback and the MathML + altimg / semantics annotation were proposed but I don't remember what LaTeXML generates at the end (and this may also be dependent of command line options...). Since I was not able to use the --mathsvg command, I just assumed it was in altimg as mentioned on the other issue.

Note that the C

[2015-08-16 12:34] fred-wang commented on #652
Regarding merging all in one "smart" script: I guess this would also mean adding an option for the CSS-based rendering of https://github.com/brucemiller/LaTeXML/issues/655

FYI, the following script provides the CSS/MathJax fallback and cookie features (however it checks for mpadded support instead of sniffing the browser user agent string):
http://fred-wang.github.io/mathml-warning.js/
https://gi

[2015-08-16 19:39] brucemiller commented on #650
I'm puzzled: the log you posted should have indicate that no images were produced (or at least not all). Unless you're mixing two different runs of latexmlpost?

At any rate, the ```\inner@par``` shouldn't have ended up in the TeX, but I'm not sure what should have. It would appear to come from a ```\\`` inside the math which is inside of an environment doing centering or framing or something.  It

[2015-08-17 03:14] gpetty opened #656 "LateXMLPost options that support creation of EPUB3 with SVG and MathML?"
I'm trying to create content that can be wrapped up into a valid EPUB3 file that passes epubcheck.  I think I need EPUB3 rather than EPUB2, because I gather there's no SVG or MathML support in EPUB2.  And therein lies the rub:  with the --format=xhtml and --mathsvg options, epubcheck complains about SVG, MathML, and refs to external resources and DTDs, but with the --format=html5 option, epubcheck

[2015-08-17 06:34] dginev commented on #656
Have you simply tried:
[code]

[2015-08-17 08:08] dginev commented on #656
And while I say that, I don't think we've ever tried to create SVG formulas for the ePub3 output format. It has been MathML-only so far.

[2015-08-17 14:04] gpetty commented on #656
Exactly - I'm trying to cover some of the devices that don't have good support for MathML yet.

[2015-08-17 14:09] dginev commented on #656
Ok, in that case I'll schedule this as an enhancement request. There is a lurking suspicion that the fallback route may be invalid ePub, so one may need to commit to SVG from the get-go, but it needs to be investigated.

[2015-08-18 03:36] gpetty commented on #656
SVG as the sole representation would be fine with me, as it displays well in Apple iBooks, which is my highest priority target.  I don't know if there are readers or devices that correctly display MathMl but not SVG.  An up-to-date matrix focusing on options for math display would be helpful, if there's one out there somewhere.

Interestingly, Firefox displays XHTML with MathML generated by LaTeXM

[2015-08-19 17:40] dginev opened #657 "Implement "backgroundcolor" for listings.sty"
A user on Authorea was interested in using a different background color for his code blocks, which brought to my attention that there seems to be no implementation for the "backgroundcolor" key.

Recording here.

[2015-08-21 15:58] gpetty opened #658 "How can I support further progress with this project?"
As one who both writes and publishes math-oriented textbooks using LaTeX, I believe LaTeXML, and especially the functionality that is emerging for the (nearly?) automated conversion of LaTeX to ePub, are exciting and important developments in electronic publishing, and I congratulate and thank everyone involved for what has been accomplished so far.

From my perspective, the two biggest remaining

[2015-08-22 08:24] dginev commented on #658
I will let Bruce write a more comprehensive reply about the "main" NIST-sponsored channel of LaTeXML work, here is a comment from the perspective of (one of the) volunteer contributors.

The volunteers, external to and unaffiliated with NIST, tend to have a limited amount of time to spend on LaTeXML, and we tend to spend it on the issues most enjoyable to us, or the ones we consider most important

[2015-08-22 12:32] brucemiller commented on #655
I like the sentiment, but not so sure about the details.  Firstly, I'm pretty sceptical about handling MathML with CSS, other than small subsets; bad experiences in the past.  But also, I'm concerned about folks inadvertently introducing a dependence on a github repo into a "live" website.  It's bad enough depending on MathJax's CDN, but at least is more explicit (& yes, I understand the advantage

[2015-08-22 13:00] brucemiller commented on #656
I'm a little confused about what you're doing. latexmlpost doesn't directly support epub; you've got to build your target appropriately (in particular epub requires XHTML, not HTML5), and then create a manifest and package the target appropriately.  But latexmlc does that all for you, so that should be much simpler; by default it would give you MathML for the math.

But you want to experiment with

[2015-08-22 13:03] brucemiller commented on #651
Hmm, there's a magnification option for math images, but not an option for the dpi conversion more generally.  But why aren't you using the width option to includegraphics?

[2015-08-22 13:36] brucemiller commented on #658
Thanks for the kind words!  Let me first second (ha!) Deyan's comments and also say that, while I have a certain amount of lattitude at NIST to work on LaTeXML, it also is primarily focussed on things that are relevant here, such as DLMF, and, to an extent, MKM generally.

The general aspects of your question, particularly regarding your point 2, would probably be better served by a post to the ma

[2015-08-22 13:37] brucemiller commented on #656
Another point: it may be that ePub prefers to have the SVG embedded in the xhtml, rather than as separate files?

[2015-08-23 03:22] gpetty commented on #656
Yes, I have written my own Python scripts to do the packaging. EPUB2 requires XHTML.  As I understand it, EPUB3 requires HTML5 + XML ("XHTML5" ?).  As far as I can tell, latexmlpost permits you to choose --xhtml or -html5 but not both, so the HTML5 output doesn't have required closing tags for some objects.  I can successful package XHTML as EPUB2, but then epubcheck complains about MathML and SVG

[2015-08-23 03:55] gpetty commented on #650
I can't be certain that either of these is the right fragment, because similar expressions show up in numerous places, but the following have equations like the above inside of tables:

https://dl.dropboxusercontent.com/u/1653737/Table4-1.tex
https://dl.dropboxusercontent.com/u/1653737/Table4-2.tex

Is there anyway to related the line number given in the error message to a specific line in the ori

[2015-08-23 04:11] gpetty commented on #658
Thanks for this suggestion.  I had never heard of bountysource.  The challenge for me, of course, will be to identify well-defined technical issues and then guess what the appropriate incentive is.

If the workflow you mean is latexmlc, see my other post describing a fatal error.  Also there were some questions as to whether the output will "pass" as valid ePub3 (though I realize some readers may

[2015-08-23 09:16] dginev commented on #650
You could make new empty documents, each containing just one of the expressions, and convert them with the same commands. Ideally you hit the message we are hunting for on one of the first tries.

[2015-08-23 11:49] brucemiller commented on #650
I don't see any problems running your two examples.  But then, since you'd closed the issue, perhaps the problem isn't actually occurring any more? Maybe it was accidentally fixed or covered up by some other change?  If you make a clean build from scratch, removing whatever stray generated files, logs & caches, do you still get an error when creating images from math?  If not, then we'll probably

[2015-08-23 12:08] brucemiller commented on #658
The problem with latexmlc, or (potential) problems with validation as ePub are exactly the kind of things that work well for creating github Issues; with samples, logs, etc, we have a concrete path to improve the software, better meet standards and so on.

For the more general questions, again, you'd probably be better off posting to the latexml mailing list. There are more listeners there, a numb

[2015-08-23 12:25] brucemiller commented on #656
Firstly, you're never going to get valid XML out of HTML5 because HTML5 is expliclity *not* XML. ePub3 requires XHTML; possibly it prefers XHTML5, although that shouldn't matter so long as it is XML and XHTML5 just adds a few optional elements (I think).

I *think* that latexmlc does support the ```--mathsvg``` option, it just isn't yet in the help listing (There's an issue open to fix that #612;

[2015-09-12 20:43] dginev commented on #658
Since this is not exactly an issue, I'll close here. Further discussions are always welcome.

[2015-09-12 20:43] #658 closed

[2015-09-23 16:58] dginev opened #663 "Safer ImageMagick conversions"
I had reported in the last CorTeX run (way back when in 2014) that there are "out of control" gs processes, running for hours and hogging tons of RAM, essentially in an infinite loop.

I have seen this problem at work also, and would like to share the taste of the solution - although we may need to think how exactly to adapt it to LaTeXML.

The best fix I know of is applicable to manually invoking

[2015-09-23 17:00] dginev commented on #663
Also, since I am planning on rerunning arXiv in the coming couple of weeks, and I am certain I will encounter this exact problem, having some solution prior the run would be very helpful.

On the other hand I am running ```latexmlc``` explicitly there, so I could do the timeout+nice combo as a prefix to the latexmlc call. Yes, that's certainly a stopgap solution.

[2015-09-23 20:09] brucemiller commented on #663
On 09/23/2015 12:58 PM, Deyan Ginev wrote:

One big difficult is that we make the conversions through
method calls to Image::Magick, rather via a command line.

Indeed, the very fact that external programs are being invoked
is pretty much hidden from LaTeXML; we simply ask Image::Magick
to read an eps (in this case) image and rasterize it, without
any overt knowledge of how that's being done.  Ima

[2015-09-23 20:56] brucemiller commented on #657
What should be easy is a fair amount stickier. Turns out the way that the background (and frames and such) covers the code, but not the numbers suggests that LaTeXML should have a more abstract model of listings and rely more on (heavy) css to get the desired styling.  Currently, we convert the whole mess into a table a *bit* too early to meaningfully apply some of these styles.

[2015-09-23 21:15] dginev commented on #663
Yes, I know have a really bad EPS file that I can share, but not yet publicly. I'll get permission to mail it to you in private. It's embargo date expires soon, so we could eventually make it part of the test suite.

[2015-09-23 21:28] brucemiller commented on #650
As I said, ```\inner@par``` shouldn't end up in the TeX strings, but I'm not clear how it got there, and how it should be prevented, without a sample case.  I'll close, for now, given the possibility that this is already fixed, but if it shows up again, please reopen.  Thanks;

[2015-09-23 21:28] #650 closed

[2015-09-24 11:31] giovanni111 opened #664 "Optional Args. for \cite unter natbib"
With the natbib package, the \cite command has two optional arguments. Perhaps the following extension might help:
[code]

[2015-09-24 15:52] dginev commented on #663
So, just checked, and it seems the Perl ImageMagick module uses XS to directly interface with the imagemagick system libraries. Which is nice because it is efficient, but also explains why LaTeXML itself becomes "very dead" in some cases, where only a ```kill -9 ``` would terminate the process.

I do, however, have a pragmatic suggestion - and that is to do a Perl-level ```fork()``` call for each

[2015-09-24 17:35] brucemiller commented on #663
On 09/24/2015 11:52 AM, Deyan Ginev wrote:

Yes, but it sounds like the only problem area is when the imagemagick
libraries are "calling out" to ghostscript.  However they make the
arrangements, they're not protecting us; that's where the nicety
and timeouts would be useful.

And it turns out there's a file delegates.xml that describes how
to decode such formats, but it isn't clear that we can/sho

[2015-09-24 17:41] dginev commented on #663
I think we can only fork when it is a user supplied image file, not when we are doing latex-based images. I am yet to see **that** fail so badly.

[2015-09-24 17:43] brucemiller commented on #663
On 09/24/2015 01:41 PM, Deyan Ginev wrote:

probably right and I was just thinking the same thing: we can likely
trust the dvi engines to generate "proper" postscript, but author
supplied...
we'll they're really author supplied programs! Probably should sandbox them
as well!!

[2015-09-24 18:06] dginev commented on #663
Btw, I just survery a random sample of the arXiv submissions in 2014 and 2015 - there are still a LOT of ```.eps``` files in the bundles, the format is here to stay. And I anticipate the more modern the image, the more likely to give convert trouble - still digging for that example from a paper submitted just a couple of months ago.

[2015-09-24 18:11] brucemiller commented on #663
On 09/24/2015 02:06 PM, Deyan Ginev wrote:

It *might* be that only LaTeXML::Util::Image::image_read needs the
special treatment, so it could be built in there?

[although LaTeXImages uses the sequence image_object, ->Read, which
probably is supposed to be equivalent ??? don't remember)

[2015-09-24 18:13] brucemiller commented on #663
On 09/24/2015 02:06 PM, Deyan Ginev wrote:

Oh, and I think that ghostscript gets invoked on pdf and ai (adobe
illustrator,
which I think is just a variant of pdf); don't know if pdf is capable
of wedging ghostscript though.  At any rate, pdf is probably becoming
more common.

[2015-09-24 18:14] dginev commented on #663
Correct, I have also seen recent use of PDF for storing very high quality vector graphics (which shocked me out of my mind).

[2015-09-28 01:28] gpetty commented on #651
On Sat, Aug 22, 2015 at 8:03 AM, bruce miller <notifications@github.com>
wrote:

Sorry I'm answering this more than a month after you wrote it -- it had
landed in a folder I don't usually monitor.

I do use the width option to set the size of the PDF images to be
commensurate with the width of the text on the printed page.  As I noted,
many turn out fairly coarsely rasterized.

Does the dpi conver

[2015-10-01 01:01] dginev commented on #651
Let me piggyback on this issue.

While I don't care about DPI myself, I care a lot about file size. I just had ImageMagick, through LaTeXML, generate a 8.5 **GB** file while converting an unknown arXiv article. I would like to set a hard maximum filesize to images generated by LaTeXML, and could think that 50MB should be enough for any arXMLiv-related task.

While I do thing that exposing **all**

[2015-10-07 15:11] dginev opened #667 "Binding for seqsplit.sty"
An Authorea user requested support for splitting DNA strands on multiple lines via the seqsplit package, so I am passing it on to the LaTeXML issue tracker.
- Package: https://www.ctan.org/pkg/seqsplit?lang=en

[2015-10-08 19:33] brucemiller commented on #663
Pull request #666 gave a seemingly sensible patch to manage this problem, via setting Image Magick specific environment variables.  However, testing strongly suggested that the timing control ```MAGICK_TIME_LIMIT``` actually is measuring the *calling* program's total execution time (in this case latexmlpost or latexmlc; presumably expecting convert), instead of the time actually processing images.

[2015-10-08 19:56] dginev commented on #663
It is fixable, we just need to fork() the image conversion and track its time from the parent process. Perl can also kill -9. It's sad that the option doesn't do what we expect it to, but we can emulate it nicely.

[2015-10-08 20:00] dginev commented on #663
Also, if we measure the execution time of the current process, we can add the time on top of the max allowed image conversion time to the current runtime and set ```MAGICK_TIME_LIMIT``` just before we start the image conversion. There are many ways to bend over and adapt an otherwise reliable timeout mechanism.

[2015-10-09 12:41] brucemiller commented on #663
On 10/08/2015 04:00 PM, Deyan Ginev wrote:

Yeah, perhaps you're right.  It still seems like
a very server-specific approach, though.

[2015-10-09 18:34] brucemiller commented on #664
Thanks! With a patch and al!! :>

I've incorporated the patch, and went ahead with a couple of other fidelity tweaks, which make it match up to the normal latex output a bit better.  Thanks so much!!

[2015-10-09 18:34] #664 closed

[2015-10-13 16:32] fred-wang opened #668 "Ability to customize the id of sections, figures etc"
LaTeXML generates ids like "SS3.SSS3" that are neither "user-friendly" nor stable. Consider for example for sections: 1) it might be better to use the header text or the attached label 2) adding removing or reordering the sections of a LaTeX files may change the URL of sections. It would be great to have the ability to customize these ids.

See the thread on the LaTeXML mailing list for details:
h

[2015-10-15 20:19] dginev opened #670 "listings.sty C highlighting bug"
A minimal example:
[code]

LaTeXML seems to eat the ```#``` sign, and possibly get the highlighting wrong?

Current LaTeXML output: [here](http://latexml.mathweb.org/editor?tex=%5Cdocumentclass%7Barticle%7D%0A%5Cusepackage%7Blistings%7D%0A%5Clstset%7Blanguage%3DC%7D%0A%5Cbegin%7Bdocument%7D%0A%0ATest%3A%20%5Clstinline%7B%23define%20EXAMPLE%7D%20%0A%0A%5Cend%7Bdocument%7D)
Expected PDF output: [inl

[2015-10-15 21:28] dginev opened #671 "wasysym.sty.ltxml"
It seems like we can almost fully process the ```wasysym.sty``` LaTeX package natively, but LaTeXML seems to need an extra hind about the font file definitions. See bellow a run with ```--includestyles``` enabled, on the minimal example:

[code]
There is probably a minimal binding that succeeds in loading the CTAN wasysym.sty together with the font. Or would we need a special mapping to unicode?

[2015-10-16 09:16] kohlhase opened #672 "latexml should be able to log to console and log file (both)"
It seems that currently LaTeXML only logs to either the console or the log file. For running LaTeXML in MMT/MathHub.info it would be useful to allow both at the same time. Is this difficiult to do? cc:@cmaeder

[2015-10-16 12:45] dginev commented on #672
Yes it is, since we log once and then decide which stream to use. If you had the log in a file it is trivial to ```cat``` the file into STDERR at any point.

[2015-10-16 12:47] brucemiller commented on #672
On 10/16/2015 05:16 AM, Michael Kohlhase wrote:

definitely would be a useful feature, particularly if the
STDERR output were severely shortened and the log file were
more detailed.  Probably not so easy in the short term,
but likely will be once we start integrating things better
(under common config, etc).

[Oh! I see that Deyan thinks it's easier than I did.
That's always a good sign! :> ]

[2015-10-16 12:55] brucemiller commented on #671
On 10/15/2015 05:28 PM, Deyan Ginev wrote:

Not sure I'd even thought to try that, but of course the fonts
it uses are very special purpose; ultimately the glyphs have
to be mapped specifically to unicode (or some other concoction).

Actually, I already have a draft binding from @kpj with most
symbols mapped to unicode.  He was doing some experiments to
see if he could extract SVG to handle the ot

[2015-10-16 13:02] cmaeder commented on #672
I could surely `cat` the created log-file to the console, but this is not the "worker-output". latexml also outputs post-processing information to the console, i.e. finally:

[code]

[2015-10-16 13:12] dginev commented on #672
I think the final status message is something that was printed out to STDERR specifically after an sTeX request by Michael, as he wanted to monitor the details in the console, while the actual logs were saved to disk. All of that is reasonable, but in batch settings you always have a parent process that orchestrates the latexml run, and that process can look at the log file contents and inform STD

[2015-10-18 21:37] dginev opened #673 "Defend against unrecoverable ghostscript error"
This error, caught from the arXiv conversion harness, seems to terminate processes in a "dirty" manner, as I have seen my latexml workers quietly die with this being the last caught trace in STDERR. Sadly I don't have an example that can reproduce this problem (yet), but there are good hints as to how to reproduce it.

I wonder if the "fork on image convert" approach described in #663 would also h

[2015-10-18 23:50] brucemiller commented on #673
On 10/18/2015 05:37 PM, Deyan Ginev wrote:

You mean the document that was being processed doesn't always
cause the error? That's pretty difficult to narrow down, then.

[2015-10-19 00:36] dginev commented on #673
No, it probably always does generate this error, I just don't know which paper it is yet.

This error got flushed to the actual STDERR and there are 15 parallel workers that could have been the source of the issue, I think it managed to kill all of them. Will get to it eventually.

[2015-10-19 12:37] kohlhase opened #674 "listings.sty.ltxml problem: \lstinline in macros"
When I use
[code]
then I get the error
[code]
but LaTeX accepts it without blushing.

[2015-10-19 13:28] dginev commented on #674
Possibly related to #670 which is also about lstinline

[2015-10-20 11:01] goska opened #675 "Problems with longtable captions and labels"
I am not sure if this is the right place to post my question, but I would be grateful of help with the problems I am experiencing while trying to convert LaTeX document containing multiple longtables into html. I am using LaTeXML 0.8.0 running under MacOS X 10 with TeXLive. During the conversion LaTeXML does not handle labels and captions correctly: all captions are replaced with the last long tab

[2015-10-20 19:54] dginev opened #676 "ltx_font_underline ?"
Is there any chance to change the current inline styling of underline at:
https://github.com/brucemiller/LaTeXML/blob/master/lib/LaTeXML/resources/XSLT/LaTeXML-common.xsl#L556

Into, say a new ```ltx_font_underline``` class, similarly to the bold and italic handling? That would make the setup a bit more coherent. Would you like me to send a PR implementing this?

[2015-10-21 12:42] giovanni111 opened #677 "hyperref's \hyperref command"
I encountered some problems converting \hyperref[]{} and tried to adapt the respective DefConstructor. Could you please check if the following changes might help?
[code]

[2015-10-21 12:44] brucemiller commented on #677
On 10/21/2015 08:42 AM, giovanni111 wrote:

I'll take a look; (you go from 4 arguments to 2 ?)
It would help if you had a TeX snippet showing
the use case and the problems it was causing.

[2015-10-21 12:48] dginev commented on #677
Hm, looking at the [hyperref manual, page 15](http://mirror.jmu.edu/pub/CTAN/macros/latex/contrib/hyperref/doc/manual.pdf) it seems that it indeed ```\hyperref```` takes 4 arguments.

[2015-10-21 13:26] giovanni111 commented on #677
Your're right: some people also use \hyperref{}{}{}{}.
[code]
Do you have an idea how to combine the two DefConstructions?

[2015-10-21 13:31] dginev commented on #677
So to sum up, there are 2 argument signatures for ```\hyperref```. TeX-emulated polymorphism (ewww)

The big difference is that there are either 4 mandatory args, or 1 optional and 1 mandatory, and latexml only supports the 4-arg variant.

[2015-10-21 15:38] dginev commented on #611
Can we close here for now?

[2015-10-21 15:40] brucemiller commented on #675
It's the perfect place to post the question!  Although it would generally be more useful to post the TeX source (or paste in a fragment), rather than attaching images of it.

And while it's generally safer to include ```\label``` within the ```\caption``` of tables, what you had should have worked.  I've fixed it in the current repository; you can check it out from here, and it will be included in

[2015-10-21 15:40] #675 closed

[2015-10-21 15:42] brucemiller commented on #673
but isn't this just a duplicate of #663?

[2015-10-21 15:42] #673 closed

[2015-10-21 15:45] dginev commented on #673
Ok, I can live with having a single issue for all of the ImageMagick deaths :+1:

[2015-10-21 15:47] brucemiller commented on #611
seems like... Thanks!!

[2015-10-21 15:47] #611 closed

[2015-10-21 15:51] goska commented on #675
Thank you. I tried attaching the files, but lacked permissions to do so. I'll try pasting in fragments of source code next time.

[2015-10-21 15:55] dginev commented on #675
GitHub won't allow you to actually attach file formats it doesn't expect. But if the snippet is small enough you could do:

a snippet

In the comment you post, and it will get nicely highlighted. You can use "html" for highlighting HTML. For example:
[code]

and
[code]

[2015-10-21 16:15] brucemiller commented on #677
To combine, you'd use the standard TeX trick of a macro expanding into ```\ifnextchar[```.  I've done that, and merged in your 2-arg definition.  Thanks!!

[2015-10-21 16:15] #677 closed

[2015-10-21 16:18] brucemiller commented on #676
Hmm... defined in terms of a frame type....  I don't know if that's ever actually used as part of any framing operation. But it probably makes more sense to define ```\text@underline``` using a class, instead as you suggest.

[2015-10-21 16:39] dginev commented on #676
Any stage works is OK by me, as long as it gets passed in as an HTML class, rather than inline styling.

[2015-10-23 06:33] kohlhase opened #678 "implement standalone.cls/sty"
It would be very nice to have `standalone.cls.ltxml` and `standalone.sty.ltxml`, I use it in my tikzinput package, which I can only get out of "image-mode" if I have LaTeXML bindings for `standalone`.

The former would probably just be a very thin wrapper around `OmniBus.cls.ltxml` and the latter needs to read everything between `\begin{document}` and `\end{document}` (excluding the environment),

[2015-10-23 08:59] giovanni111 opened #679 "Enhancement for caption.sty.ltxml"
To convert \caption* and \captionof*, e.g.:
[code]
I propose the following exentsion to caption.sty.ltxml:
[code]
Please examine these additions. Probably, they should be optimised...

[2015-10-24 17:59] goska commented on #675
Thank you, dginev.
Placement of \label was just one of the causes of my problems with \longtable. The main reason appears to the presentce of more than one instance of \longtable in the same document - moving the labels inside captions has made very little difference to the outcomes (still using LaTeXML 0.8.0). (I am trying to convert a document, too long for posting here, which contains several \

[2015-10-24 20:18] brucemiller commented on #675
Version 0.8.0 didn't seem to handle multiple longtables correctly, but 0.8.1 does. It doesn't handle the oddly placed ```\label```s, however.  The current version available from github seems to work correctly.  (version 0.8.1 should be available under MacPorts)

[2015-10-25 19:50] goska commented on #675
Thank you - I have updated to 0.8.1, which handles multiple long tables correctly (horizontal lines at the bottom of the tables are still missing after conversion (in the complex document I am working on)).

[2015-10-25 20:13] dginev commented on #675
Does that mean we can close this issue?

[2015-10-25 20:56] brucemiller commented on #675
On 10/25/2015 03:50 PM, goska wrote:

You might want to open a separate issue regarding the horizontal lines.
(I don't think there's anything done more correctly in the current code)

[2015-10-26 11:20] goska opened #680 "longtables missing bottom borders"
After conversion to HTML bottom borders of converted longtables are missing, (```\hline```s at the bottom of the tables are used in LaTeX). Using LaTeXML 0.8.1, Mac OS X, TexLive.
LaTeX source:
[code]
XML:
[code]
HTML:
[code]

[2015-10-26 11:22] goska commented on #675
Posted a new issue concerning missing ```\hline```s. Thanks

[2015-10-28 21:43] brucemiller commented on #680
Fixed in the current version! Thanks for the report.

[2015-10-28 21:43] #680 closed

[2015-10-29 08:12] kohlhase opened #681 "CSS for listings?"
I am not sure that this is an issue, or just a question, ... but here it goes

I am looking at the HTML code generated by the listing package, and  for ```\lstinline[language=ML]``` see
[code]
which is very reasonable.

And for a ```lstlisting``` environment,  I see
[code]
Also that is reasonable (except, why are there the declarations for the MathML namespace?)

But in ```LaTeXML.css``` I only se

[2015-10-29 08:38] kohlhase commented on #681
I guess, unless someone stops me I will go ahead and make CSS for MathHub (see https://github.com/KWARC/MathHub/issues/147) and contribute that back to LaTeXML, when I am happy.

[2015-10-29 12:23] brucemiller commented on #681
On 10/29/2015 04:38 AM, Michael Kohlhase wrote:

That would be appreciated, but may be premature at this time.
There are several open issues relating to listings, at the moment.
The annoying one is background, since the way listings are currently
represented (leveraging tabular; "Seemed like a good idea at the time")
doesn't really give a handle on the code block, itself (w/o the numbers).
So, I'm

[2015-10-29 17:54] kohlhase commented on #681
thanks for the warning, but I am quite accustomed to pain and suffering :-).

[2015-10-30 11:20] kohlhase commented on #681
When you are rethinking this, you should probably generate more of the presentational attributes into the classes. For instance, if we have ```columns=flexible```, then we should probably have a class ```ltx_lst_columns_flexible``` (not pretty, but this should do the job). Other things (like background color), you can just translate into ```style=``` attributes that could get copied into the outpu

[2015-11-03 08:20] goska opened #682 "Advice on generating glossary"
What would be the best way to generate a glossary in report document class document with LaTeXML? Thank you.

[2015-11-04 21:59] neos21 opened #683 "Latexml fails on math in snugshade"
Whenever there are mathematics in the snugshade environment, the mathematics are erroneously rendered in white background.

Minimal working example:
[code]

[2015-11-04 22:14] neos21 opened #684 "Index fails on Greek keywords (non-latin characters)."
I am trying to use the index feature of latexml, but it fails when the indexed keywords are non plain latin. In particular, consider the following file saved with UTF8 encoding that contains keywords to be indexed that contain greek characters:

File: index.tex
[code]
Of course, I use the --inputencoding=utf8 at latexml to convert to xml.

The resulting html contains only three indexed keywords -

[2015-11-06 21:01] neos21 opened #685 "Latexmlpost fails with some complex math"
Trying to compile the following minimal example, latexmlpost fails:
[code]

The output of latexml is as follows:

processing started Fri Nov  6 21:57:24 2015
(sin_fail.html post-processing...
(Scan sin_fail.html processing...
(CrossRef sin_fail.html processing...
(MathML::Presentation sin_fail.html processing...
(XSLT sin_fail.html processing...
(Writer sin_fail.html processing... 0.12 sec)
Postpr

[2015-11-10 19:20] brucemiller commented on #684
I assume you're using 0.8.1? It seems to run fine on the git version, but since 0.8.1 I switched to using Unicode::Collate to do the sorting, which should handle such things more correctly.  OTOH, since we're trying to create ID's out of pure greek, after stripping them, we end up with duplicate ID's!  Should fix that, but still it "works".

[2015-11-10 22:54] brucemiller commented on #683
yes, needed to accommodate background as well as color when switching modes. Done now in git. Thanks for the report!

[2015-11-10 22:54] #683 closed

[2015-11-11 12:05] brucemiller commented on #676
It seems best to keep it as a "framed" concept rather than text, but the idea to push it over into css classes is a good one. So now any framed attribute will generate a class name; ltx_framed_<style>.  In your case ```ltx_framed_underline```.  This is nice, since it makes the frame styles more extensible.The framecolor is still handled by explicit css styling though.

I'll pretend this issue is s

[2015-11-11 12:05] #676 closed

[2015-11-11 12:06] brucemiller commented on #685
Interestingly forgot the case where we're pruning XMDuals that may have an id and be referred to.  Is fixed now.  Thanks for the report!

[2015-11-11 12:06] #685 closed

[2015-11-11 12:29] brucemiller commented on #679
Looks like it does what it should do (or should have done!)  Thanks a lot for the report & patch!

[2015-11-11 12:29] #679 closed

[2015-11-11 13:39] dginev commented on #676
Great, this is perfect! Just for my information, what other "framed" variants are there?

[2015-11-11 16:01] neos21 commented on #684
Thanks for the reply.

Yes I am using 0.81 and I got as an index what I have posted. I am not sure what you mean with your reply. Did you manage to reproduce the problem wiyh the above minimal example? Has it been corrected now or I should wait? If I update/reinstall Latexml via github, I will get a correct index or not?

[2015-11-11 16:14] dginev commented on #684
Hi @neos21 ! I just updated the online showcase to the latest revision of LaTeXML's git repository, and you can see how your example looks [by clicking here](latexml.mathweb.org/editor?tex=%5Cdocumentclass%5B12pt%2Ca4paper%5D%7Bbook%7D%0A%5Cusepackage%7Bmakeidx%7D%0A%0A%5Cbegin%7Bdocument%7D%0A%5Cchapter%7BPythagoras%7D%0AThis%20is%20the%20first%20chapter%20about%20Pythagoras%20%5Cindex%7BPythagor

[2015-11-11 16:14] dginev commented on #684
Ooops, the initial link was broken, see github for the updated one.

[2015-11-11 16:27] neos21 commented on #684
Yes, perfect! Thanks :)

[2015-11-11 16:30] dginev commented on #684
Which reminds me I should style that showcase better, it's way too rigid... oh well. Can we close this issue then?

[2015-11-11 17:12] brucemiller commented on #676
On 11/11/2015 08:39 AM, Deyan Ginev wrote:

predefined in LaTeXML.css are rectangle, left,right,top,bottom
and underline.  But if you generate framed='foo', it'll get
ltx_framed_foo, so it's extensible in that sense.

[2015-11-11 17:15] brucemiller commented on #684
On 11/11/2015 11:30 AM, Deyan Ginev wrote:

not just yet: when index entries are completely non-ascii,
they generate an id that is just "idx." (missing the keyword),
which typically gives conflicts. I'd like to figure out a
way to give useful valid ids first. (suggestions welcome).

[2015-11-11 17:35] dginev commented on #684
Suggestion: if ids are explicitly ASCII, then [unidecode](http://search.cpan.org/~sburke/Text-Unidecode-1.27/lib/Text/Unidecode.pm) the full entry.

I use unidecode in NNexus, which is ASII-only for now, works wonders. It helps tons for NLP where people just can't decide on consistently using e or é when writing Poincaré, among many other similar examples.

[2015-11-11 17:42] brucemiller commented on #684
On 11/11/2015 12:35 PM, Deyan Ginev wrote:

Id's end up in urls as fragment identifiers, so it may not be
strictly forbidden to have unicode, it's not yet(?) very safe.

Cool! That's the sorta thing I've thought: such a thing ought to exist!!
Have to check into the dependency implications. Maybe can use it optionally.
Last resort is convert to hex ! :>

[2015-11-11 17:48] dginev commented on #684
Using hex for text may dangerously approach its "curse" meaning :>

[2015-11-17 14:29] kohlhase opened #686 "kill switch for latexmls"
In many debugging situations it would be good if we had a "kill message" for ```latexmls``` that I could just send the server instead of having to wait for it to terminate by itself. I am thinking of just calling
[code]
and that sends the kill message to ```latexmls```.

[2015-11-17 15:41] dginev commented on #686
I am using something like that for production in Authorea, just send a job to it with a one second expire and it will auto-reboot.

[code]

A new option is overkill in my opinion. You could always ```killall latexmls``` instead.

[2015-11-17 15:41] #686 closed

[2015-11-17 16:12] kohlhase commented on #686
Actually, in the setting in MathHub, where we have latexmls (and latexmlc for this matter) running in a docker container and using the ```lmh``` utility to send commands into the docker this is quite inconvenient. In particular, we would have to open a docker shell in the right docker and then do a ```pkill ???``` (```killall``` is not installed on the docker; and you are never quite sure whether

[2015-11-19 21:23] angerhang opened #687 "Preloading fails to handle class/package options properly"
It is best to show the problem with the following example. We have a `test.tex` which loads a `optionTest.cls` with option `test` and then `optionTest.cls.ltxml` passes the option to `optionTest.sty.ltxml`.
`test.tex`
[code]
`optionTest.cls.ltxml`
[code]
`optionTest.sty.ltxml`
[code]
The problem is  if we preload the optionTest class, the option hander won't be activated.

Here is the output with

[2015-11-19 21:27] dginev commented on #687
Ah, so if you preload the package (in daemon mode) without options, and then use it with options in a concrete conversion, the option doesn't get passed?

Should be easy to verify, not sure about difficulty of fixing. Thanks for the report!

[2015-11-20 16:16] brucemiller commented on #687
On 19/11/2015 16:27, Deyan Ginev wrote:

Kinda nasty. Not sure that even the LaTeX mechanism itself is designed
to allow this; Certainly not for classes, but normally when you've already
loaded a package, it doesn't get reloaded --- I assume even if options have
changed.  Is there a provision for it to reprocess the options?

Preloading is kinda outside the model of LaTeX; other than preloaded
for

[2015-11-20 19:36] dginev commented on #687
There are multiple workarounds (and I know Michael is already using one), so there shouldn't be much urgency with addressing the issue here. For now these are feasible:
 * Don't preload the package at all, if options will change for each job
 * or preload it with the exact options set

Maybe we can even punt and say these two workarounds are as good as possible, given the latex model for loading p

[2015-11-21 10:45] kohlhase commented on #687
Actually, I quite agree with Deyan, preloading is outside the the realm of LaTeX compatibility. So we are free to define the intended behavior.

The only way I would know to give semantics to preloading is that the options are part of the preloading process. I.e. ```--preload=[foo]bar.sty.ltxml``` should do just that: preload ```foo.star.ltxml``` with the ```foo``` option set. If you want the free

[2015-11-21 11:16] kohlhase commented on #687
Actually, I have changed my mind (a bit). While we should certainly keep the behavior and  document it, we should also issue a warning or even an "option clash" error (in the way some LaTeX packages do). I.e. if we have ```--preload=[foo]bar.sty.ltxml``` and then come across a ```\usepackage[baz]{bar}```, then we should raise an error saying something like
[code]
I think that this will make things